app-menu {
	z-index: 5;
}
.menu-wrapper {
	flex-grow: 0;
	height: 65px;
	background-color: #E4E4E4;
	@media (max-width: 768px) {
		height: 45px;
		background-color: white;
	}
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 15px;
	box-sizing: border-box;
	font-size: 17px;
	letter-spacing: -0.4px;
	color: #323130;
	div {
		padding-bottom: 12px;
	}
	.title {
		flex-grow: 1;
		text-align: center;
		b {
			color: black;
		}
	}
	.width-zero {
		width: 0;
		flex-grow: 0;
		overflow: hidden;
	}
	.apps-button,
	.info-button,
	.back-button {
		width: 68px;
		cursor: pointer;
	}
	.apps-button,
	.apps-true {
		text-align: left;
		display: flex;
		flex-wrap: nowrap;
		img {
			margin-right: 14px;
			vertical-align: baseline;
		}
		.apps-hover {
			display: none;
		}
		.apps-base {
			display: inline-block;
		}
	}
	.apps-button:hover {
		.apps-hover {
			display: inline-block;
		}
		.apps-base {
			display: none;
		}
	}
	.info-button {
		text-align: right;
		img {
			vertical-align: bottom;
		}
		.info-hover {
			display: none;
		}
		.info-base {
			display: inline-block;
			background-color: white;
			border-radius: 11px;
		}
	}
	.info-button:hover {
		.info-hover {
			display: inline-block;
		}
		.info-base {
			display: none;
		}
	}
	.back-button {
		svg {
			vertical-align: bottom;
			margin-right: 8px;
			margin-bottom: -1px;
		}
	}
}
.apps,
.info {
	background: white;
	position: absolute;
	z-index: 5;
	top: 65px;
	@media (max-width: 768px) {
		top: 44px;
	}
	bottom: 0;
	width: 100%;
}
.tiles-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 30px 42px;
	background: white;
	.app-tile {
		width: 141px;
		height: 141px;
		margin-top: 20px;
		outline: 1px solid #acacac;
	}
	.selected-tile,
	.app-tile:hover {
		outline: 2px solid #000;
	}
	.filler-tile,
	.filler-tile:hover {
		outline: none;
		@media (max-width: 365px) {
			display: none;
		}
	}
}
.text-wrapper {
	padding: 30px 42px;
	font-size: 15px;
	line-height: 1.4;
	background: white;
	h2 {
		font-size: 15px;
		margin-bottom: -1em;
	}
	.info-link {
		display: flex;
		margin-top: 35px;
		margin-bottom: 25px;
		.info-icon {
			width: 45px;
			height: 35px;
			background: #EFEFEF;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 20px;
		}
		a {
			color: #60CAE9;
			font-size: 14px;
		}
	}
	p {
		a {
			color: black;
			font-weight: bold;
		}
	}
}
.wordmark {
	text-align: center;
	margin-top: 40px;
	@media (min-width: 769px) {
		display: none;
	}
}
