<div class="menu-wrapper">
	<div class="back-button" #backButton (click)="hideMenus()">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
			<path fill="#323130" d="M15.4 16l-4.6-4.5L15.4 7 14 5.4l-6 6 6 6z" />
			<path fill="none" d="M0-.5h24v24H0z" />
		</svg>Back</div>
	<div [ngClass]="appsButtonClass()" #appsButton (click)="appsClick()">
		<img class="apps-base" src='/assets/images/menu/apps-icon.svg' /><img class="apps-hover" src='/assets/images/menu/apps-icon-hover.svg' />Apps
	</div>
	<div class="title" #title [innerHTML]="routeTitle"></div>
	<div class="info-button" #infoButton (click)="infoClick()">
		<img class="info-base" src='/assets/images/menu/info-icon.svg' />
		<img class="info-hover" src='/assets/images/menu/info-icon-hover.svg' />
	</div>
</div>

<div class="apps" #apps>
	<div class="tiles-wrapper">
		<div class="app-tile selected-tile" aria-label="TherMOOstat" [inlineSVG]="'/assets/images/apps/thermoostat.svg'"></div>
		<a href="http://ceed.ucdavis.edu" target="_blank" rel="noopener">
			<div class="app-tile" aria-label="Energy Dashboard" [inlineSVG]="'/assets/images/apps/ceed.svg'"></div>
		</a>
		<a href="http://water.ucdavis.edu" target="_blank" rel="noopener">
			<div class="app-tile" aria-label="Water Dashboard" [inlineSVG]="'/assets/images/apps/water.svg'"></div>
		</a>
		<a href="http://challenge.ucdavis.edu" target="_blank" rel="noopener">
			<div class="app-tile" aria-label="Energy and Water Challenge" [inlineSVG]="'/assets/images/apps/challenge.svg'"></div>
		</a>
		<a href="https://ceed.ucdavis.edu/coming-soon" target="_blank" rel="noopener">
			<div class="app-tile" aria-label="Our Energy Story" [inlineSVG]="'/assets/images/apps/story.svg'"></div>
		</a>
		<div class="app-tile filler-tile"></div>
		<div class="wordmark"><img src="/assets/images/facilities_energy_black.png" width="85%"></div>
	</div>
</div>

<div class="info" #info>
	<div class="text-wrapper">
		<p>Is your room too hot or cold? This can be a common and lingering problem for many on campus. Not only does this mean you're uncomfortable, but it could be a sign that your building is wasting energy either by <b>overheating or overcooling</b> your space!</p>
		<p>Addressing these issues go hand in hand, which is why we made TherMOOstat. Use TherMOOstat to tell us how your space feels!</p>
		<br>
		<h2>What do we do with your feedback?</h2>
		<p>We use your TherMOOstat feedback to find long-term comfort and energy trends on campus. You're helping us better understand HVAC systems in your building.</p>
		<p>We read every submission, so you're helping us better understand how buildings are operating.</p>
		<div class="info-link">
			<a href="http://eepurl.com/bf2yxr" target="_blank" rel="noopener">
				<div class="info-icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="21" height="14">
						<g fill="none" fill-rule="evenodd">
							<path fill="#FFF" d="M0 0h21v14H0z" />
							<path fill="#60CAE9" d="M20.5 0H.5C.2 0 0 .2 0 .5v13c0 .3.2.5.5.5h20c.3 0 .5-.2.5-.5V.5c0-.3-.2-.5-.5-.5zm-1.3 1l-8.7 8.6L1.8 1h17.4zm-18 .8l5 5.2L1 12.2V1.8zM1.7 13L7 7.8l3 3c.3.2.7.2 1 0l3-3 5 5.2H1.8zm18-.8l-5-5.2L20 1.8v10.4z" />
						</g>
					</svg>
				</div>
			</a>
			<a href="http://eepurl.com/bf2yxr" target="_blank" rel="noopener">Be in the know: Sign up for <br><b>What's Watt with Joules the Cow!</b></a>
		</div>
		<p>Read more about campus energy on <a href="https://eco.ucdavis.edu/blog" target="_blank" rel="noopener">our blog.</a></p>
		<br>
		<h2>Looking to submit a work order?</h2>
		<p>We use your feedback to crowdsource comfort trends on campus. If you have an issue that needs more immediate attention, <a href="https://aggiefacilities.tririga.com/" target="_blank" rel="noopener">please submit a work order.</a></p>
		<div class="wordmark"><img src="/assets/images/facilities_energy_black.png" width="85%"></div>
	</div>
</div>
