$cold: #10788e;
$chilly: #5fc8e8;
$perfect: #94bc46;
$warm: #ef8e27;
$hot: #ec5a29;
$tie: #8A8A8A;
.map {
	height: 100%;
	width: 100%;
	.eco-logo {
		z-index: 500;
		position: absolute;
		bottom: 22px;
		right: 61px;
		img {
			width: 200px;
			height: auto;
		}
	}
	.quarter-select {
		position: absolute;
		top: 25px;
		right: 134px;
		z-index: 500;
		select {
			font-family: ProximaNova, Arial, Helvetica, sans-serif;
			width: 145px;
			height: 47px;
			border-radius: 3px;
			background-color: #ffffff;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
			border: solid 1px rgba(106, 106, 106, 0.34);
			font-size: 14px;
			padding-left: 16px;
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: white url("/assets/images/map/caret.svg") no-repeat 90% center;
		}
	}
	.legend {
		position: absolute;
		top: 25px;
		right: 25px;
		width: 80px;
		height: 170px;
		z-index: 500;
		background: white;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
		border: solid 1px #efefef;
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		font-size: 14px;
		flex-direction: column;
		padding: 15px 0px 15px 15px;
		.legend-item {
			opacity: 0.8;
			svg {
				vertical-align: baseline;
				opacity: 1;
				margin-right: 5px;
			}
			&.cold {
				svg {
					fill: $cold;
				}
			}
			&.chilly {
				svg {
					fill: $chilly;
				}
			}
			&.perfect {
				svg {
					fill: $perfect;
				}
			}
			&.warm {
				svg {
					fill: $warm;
				}
			}
			&.hot {
				svg {
					fill: $hot;
				}
			}
			&.tie {
				svg {
					fill: $tie;
				}
			}
		}
	}
	.weather {
		position: absolute;
		top: 240px;
		right: 25px;
		width: 80px;
		height: 67px;
		z-index: 500;
		background: white;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
		border: solid 1px #efefef;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		font-size: 14px;
		flex-direction: column;
		padding-left: 15px;
		.forecast-overlay {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $perfect;
			overflow: hidden;
			width: 0;
			height: 100%;
			transition: .5s ease;
			z-index: 600;
		}
		.forecast {
			color: white;
			font-size: 100%;
			position: absolute;
			overflow: hidden;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
		}
		.temperature {
			font-size: 18px;
			sup {
				font-size: 11px;
			}
		}
	}
	.weather:hover {
		.forecast-overlay {
			width: 100%;
		}
	}
	canvas {
		outline: 0; //removes blue outline on map when focused (arguably bad accessibility practice)
	}
	.leaflet-marker-icon {
		border: 0;
		background: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
		svg {
			flex-shrink: 0;
		}
		&.label-hidden {
			.building-label {
				display: none;
			}
		}
		&:hover {
			font-weight: bold;
			.building-label {
				width: 105px;
			}
			svg {
				.marker-outline {
					stroke: #000;
				}
			}
		}
		&.cold {
			svg {
				.marker-outline {
					fill: $cold;
				}
			}
		}
		&.chilly {
			svg {
				.marker-outline {
					fill: $chilly;
				}
			}
		}
		&.perfect {
			svg {
				.marker-outline {
					fill: $perfect;
				}
			}
		}
		&.warm {
			svg {
				.marker-outline {
					fill: $warm;
				}
			}
		}
		&.hot {
			svg {
				.marker-outline {
					fill: $hot;
				}
			}
		}
		&.tie {
			svg {
				.marker-outline {
					fill: $tie;
				}
			}
		}
		.building-label {
			font-family: ProximaNova, Arial, Helvetica, sans-serif;
			font-size: 12px;
			letter-spacing: 0.5px;
			width: 100px;
			line-height: 12px;
			display: inline-block;
			text-align: center;
			padding-top: 3px;
		}
	}
	.leaflet-tooltip {
		background: none;
		border: none;
		opacity: 1 !important;
		box-shadow: none;
		border-radius: 0;
		padding: 0;
		white-space: normal;
		display: inline-block;
		& .hidden-tooltip {
			display: none;
		}
		.building-tooltip {
			width: 170px;
			border-radius: 3px;
			background-color: white;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.29);
			opacity: 1 !important;
			font-family: ProximaNova, Arial, Helvetica, sans-serif;
			padding-top: 12px;
			padding-left: 16px;
			padding-right: 16px;
			padding-bottom: 12px;
			h2 {
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 0.8px;
				padding-top: 0;
				margin-top: 0;
			}
			span {
				font-weight: bold;
			}
			&.cold {
				border-top: 4px solid $cold;
				span {
					color: $cold;
				}
			}
			&.chilly {
				border-top: 4px solid $chilly;
				span {
					color: $chilly;
				}
			}
			&.perfect {
				border-top: 4px solid $perfect;
				span {
					color: $perfect;
				}
			}
			&.warm {
				border-top: 4px solid $warm;
				span {
					color: $warm;
				}
			}
			&.hot {
				border-top: 4px solid $hot;
				span {
					color: $hot;
				}
			}
			&.tie {
				border-top: 4px solid $tie;
				span {
					color: $tie;
				}
			}
		}
	}
	.leaflet-tooltip-right:before {
		border: none;
		background: none;
	}
	.leaflet-popup {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.29);
		border: solid 1px #e0e0e0;
	}
	.leaflet-popup-content-wrapper {
		border-radius: 0;
		box-shadow: none;
		width: 366px;
		height: 180px;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
	}
	a.leaflet-popup-close-button {
		color: black;
		padding: 18px 18px 0 0;
	}
	.leaflet-popup-content {}
	.building-popup {
		font-size: 14px;
		h2 {
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 0.9px;
			padding-top: 0;
			margin-top: 0;
		}
		.details-and-graph-wrapper {
			display: flex;
		}
		.details {
			width: 50%;
		}
		.graph {
			width: 50%;
			font-size: 11px;
			line-height: 14px;
			margin-top: 13px;
			.graph-row {
				display: flex;
				margin-bottom: 5px;
				height: 13px;
				&.cold {
					rect {
						fill: $cold;
					}
				}
				&.chilly {
					rect {
						fill: $chilly;
					}
				}
				&.perfect {
					rect {
						fill: $perfect;
					}
				}
				&.warm {
					rect {
						fill: $warm;
					}
				}
				&.hot {
					rect {
						fill: $hot;
					}
				}
				.value {
					width: 25px;
					text-align: right;
					margin-right: 5px;
					height: 10px;
				}
			}
			svg {
				margin-top: 2px;
			}
		}
		.percent-vote {
			font-weight: bold;
			margin-top: 14px;
		}
		&.cold {
			.percent-vote {
				color: $cold;
			}
		}
		&.chilly {
			.percent-vote {
				color: $chilly;
			}
		}
		&.perfect {
			.percent-vote {
				color: $perfect;
			}
		}
		&.warm {
			.percent-vote {
				color: $warm;
			}
		}
		&.hot {
			.percent-vote {
				color: $hot;
			}
		}
		&.tie {
			.percent-vote {
				color: $tie;
			}
		}
	}
}
