<map-modal [(mapVisible)]="appComp.modal.mapModal"></map-modal>
<div id="map" class="map">
	<div class="quarter-select">
		<select name="quarter" [(ngModel)]="selectedQuarter" (change)="onQuarterChange()">
			<option *ngFor="let quarter of quarters" [value]="quarter.name">
				{{quarter.displayName}}
			</option>
		</select>
	</div>
	<div class="legend">
		<div class="legend-item cold">
			<svg viewBox="0 0 11 11" width="11" height="11" xmlns="http://www.w3.org/2000/svg">
				<circle cx="5.5" cy="5.5" r="5.5" />
			</svg>
			cold
		</div>
		<div class="legend-item chilly">
			<svg viewBox="0 0 11 11" width="11" height="11" xmlns="http://www.w3.org/2000/svg">
				<circle cx="5.5" cy="5.5" r="5.5" />
			</svg>
			chilly
		</div>
		<div class="legend-item perfect">
			<svg viewBox="0 0 11 11" width="11" height="11" xmlns="http://www.w3.org/2000/svg">
				<circle cx="5.5" cy="5.5" r="5.5" />
			</svg>
			perfect
		</div>
		<div class="legend-item warm">
			<svg viewBox="0 0 11 11" width="11" height="11" xmlns="http://www.w3.org/2000/svg">
				<circle cx="5.5" cy="5.5" r="5.5" />
			</svg>
			warm
		</div>
		<div class="legend-item hot">
			<svg viewBox="0 0 11 11" width="11" height="11" xmlns="http://www.w3.org/2000/svg">
				<circle cx="5.5" cy="5.5" r="5.5" />
			</svg>
			hot
		</div>
		<div class="legend-item tie">
			<svg viewBox="0 0 11 11" width="11" height="11" xmlns="http://www.w3.org/2000/svg">
				<circle cx="5.5" cy="5.5" r="5.5" />
			</svg>
			tie
		</div>
	</div>
	<div class="weather">
		<!--		<div class="forecast-overlay" aria-label="Current condition">
			<div class="forecast"><b>{{weather.condition}}</b></div>
		</div>-->
		Davis, CA
		<div class="temperature">{{weather.temperature}}&deg; <sup>F</sup></div>
	</div>
	<div class="eco-logo">
		<a href="https://eco.ucdavis.edu/"><img src="/assets/images/facilities_energy_black.png"></a>
	</div>
</div>
