survey {
	background: white !important;
}
.menu-wrapper {
	@media (max-width: 768px) {
		height: 45px !important;
		background-color: #E4E4E4 !important;
	}
}
.ng2-auto-complete {
	& input {
		padding-left: 15px !important;
	}
	& ul {
		max-height: 250px;
		overflow: auto;
	}
}
.location-title {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 45px;
	margin-right: 45px;
	@media (max-width: 400px) {
		margin-top: 20px;
	}

}
form.location-form {
	text-align: center;
	margin: 0 auto;
	width: 95%;
	max-width: 310px;
	input {
		width: 95%;
		height: 45px;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 16px;
		padding-left: 15px;
		padding-right: 0;
		margin: 0 auto;
		&.room-input {
			margin-top: 20px;
			padding-right: 0;
		}
		&.datetime {
			font-size: 14px;
			padding-left: 10px;
			::-webkit-inner-spin-button {
				margin-left: 0;
			}
		}
	}
	p {
		color: #BABABA;
		text-align: left;
		font-size: 14px;
	}
	//////////////////////////
	//begin custom checkbox
	.checkbox {
		text-align: left;
		position: relative;
		height: 21px;
		line-height: 21px;
		display: block;
		cursor: pointer;
		margin-top: 20px;
	}
	.checkbox input {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}
	.checkbox .span-label:before {
		content: '';
		padding: 0px;
		display: inline-block;
		height: 16px;
		width: 16px;
		border: solid 1px #d6d6d6;
		border-radius: 0;
		font-size: 12px;
		margin-right: 7px;
		vertical-align: middle;
	}
	.checkbox input + .span-label:before {
		color: white;
		background-color: white;
		margin-right: 15px;
	}
	.checkbox input:checked + .span-label:before {
		background: url(assets/images/checkBox.svg) no-repeat center center;
	}
	.checkbox input + .span-label {
		font-size: 15px;
		color: #a6a6a6;
	}
	.checkbox input:checked + .span-label {
		color: black;
	}
	//end custom checkbox
	//////////////////////////
	.datetime-wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		padding: 0 20px;
		time {
			height: 45px;
			line-height: 45px;
		}
		a[hidden] {
			time {
				display: none !important;
				//hack to work around date polyfill plugin
			}
		}
	}
	.datetime {
		width: 44%;
		&:nth-of-type(1) {
			margin-right: 18px;
		}
	}
	.tell-us-button {
		cursor: pointer;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		width: 100%;
		max-width: 310px;
		height: 55px;
		color: white;
		background-color: #94be3d;
		border: solid 1px #000000;
		border-radius: 2px;
		letter-spacing: 0.6px;
		margin: 21px auto 0 auto;
		&:hover {
			background-color: #353433;
		}
		&:disabled {
			outline: none;
			background-color: #efefef;
			border: none;
			color: #ababab;
			cursor: default;
		}
	}
}
.location-bubble {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
	svg {
		margin: 0 auto;
	}
	@media (max-width: 400px) {
		margin-top: 40px;
	}

}
.valid-data,
input:required:valid.room-input {
	background: #fff url(assets/images/check.svg) no-repeat 98% center;
	border: 2px solid #94BE3D;
}
input:required:valid.datetime {
	border: 2px solid #94BE3D;
}
input:required.ng-untouched {
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
}
input:required:invalid.ng-touched,
input:required.dirty-building.invalid-data {
	border: 2px solid #f05910;
}
input:required:invalid.ng-touched.room-input,
input:required.ng-touched.invalid-data,
input:required.dirty-building.invalid-data,
{
	background: #fff url(assets/images/exclamation.svg) no-repeat 93% center;
}
input:hover {
	outline: 1px solid #000;
}
//typeahead
.twitter-typeahead {
	display: block !important;
}
.tt-hint {
	font-size: 14px;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
}
.tt-query .typeahead {
	width: 50%;
	height: 30px;
	padding: 8px 12px;
	font-size: 24px;
	line-height: 30px;
	outline: none;
}
.tt-menu {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	text-align: left;
}
.tt-cursor {
	background-color: #f1f1f1;
}
.tt-suggestion {
	font-size: 14px;
	line-height: 14px;
	margin: auto;
	font-family: ProximaNova, Arial, Helvetica, sans-serif;
	padding: 15px 30px;
	color: #333;
	border-bottom: 2px solid #f1f1f1;
	border-right: 2px solid #f1f1f1;
	border-left: 2px solid #f1f1f1;
}
//fixes ios zoom on field focus
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select,
	textarea,
	input {
		font-size: 16px;
	}
}
.joules-bubble {
	text-align: center;
	margin-bottom: 20px;
}
