<h2 class="location-title">Where are you on campus?</h2>

<form class="location-form" #locationForm="ngForm" (ngSubmit)="save(locationForm.value, locationForm.valid)" novalidate>

	<input [class]="getStyle('building-input')" type="text" name="building" id="typeahead" placeholder="Building" [(ngModel)]="buildingNameInput" #building="ngModel" required autocomplete="off" (keyup)="checkBuildingValidity()" (blur)="setBuildingStyle()" tabindex="0">

	<input type="text" class="room-input" name="room" placeholder="Room Number" [(ngModel)]="location.room" #room="ngModel" required autocomplete="off" (focus)="roomTextShown=true">
	<p *ngIf="roomTextShown">Not sure what to write? Details like: "second floor on the north" or listing the letter of your space in a larger suite like "149B" are helpful!</p>

	<label class="checkbox" for="notCurrentlyHere">
		<input type="checkbox" id="notCurrentlyHere" name="notCurrentlyHere" [(ngModel)]="location.notCurrentlyHere" notCurrentlyHere="ngModel">
		<span class="span-label">I'm not <i>currently</i> here</span><span [hidden]="!location.notCurrentlyHere"> but I was at...</span>
	</label>
	<div class="datetime-wrapper" [hidden]="!location.notCurrentlyHere">
		<input type="date" name="date" placeholder="Date" class="datetime" [hidden]="!location.notCurrentlyHere" [(ngModel)]="location.previouslyHereDate" #date="ngModel" [required]="hereCheck()" autocomplete="off">
		<input type="time" name="time" placeholder="Time" class="datetime" [hidden]="!location.notCurrentlyHere" [(ngModel)]="location.previouslyHereTime" #time="ngModel" [required]="hereCheck()" autocomplete="off">
	</div>

	<button type="submit" class="tell-us-button" [disabled]="buildingMatch === false || !locationForm.valid">Tell us how your room feels!</button>

</form>

<div class="location-bubble" aria-label="Joules the Cow - Location" rol="img" aria-labelledby="title  desc" [inlineSVG]="'/assets/images/joules-locate.svg'"></div>
