survey {
	background: white !important;
}
.menu-wrapper {
	@media (max-width: 768px) {
		height: 45px !important;
		background-color: #E4E4E4 !important;
	}
}
.cow-selector input {
	margin: 0;
	padding: 0;
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	//appearance: none;
}
.cow-selector {
	padding: 0;
	.cold {
		background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91 91'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='90' height='90' x='.825' y='.8' fill='%231D99B3' rx='2'/%3E%3Cg transform='translate(33.007 20.54)'%3E%3Cpath fill='%23FFF' d='M4.648 1.55c-1.242.12-2.484 1.553-2.725 3.183-.12.796-.08 2.268 1.643 2.824l.6.2-.16.596c-.08.318-.12.636-.12.915L1.764 30.906c-.4 2.307-.56 6.364.64 7.478 2.085 1.95 4.61 3.818 10.378 3.818 5.89 0 8.816-1.83 10.26-3.38 1.24-1.353 1.762-4.336 1.24-7.28-.52-3.102-2.483-21.44-2.604-22.195v-.08c0-.278-.04-.556-.12-.874l-.12-.517.48-.24C24 6.604 24.963 5.37 24.682 4.177 24.4 2.943 22.76 1.87 21.237 1.87c-.2 0-.32 0-.4.04.08.158.2.397.32.596.56.954 1.442 2.506.28 3.977l-.44.518-.522-.437c-.68-.597-1.522-.915-2.444-.915H7.573c-.802 0-1.603.28-2.244.756l-.482.398-.4-.478c-1.323-1.51-.48-3.26.04-4.295.04-.16.12-.32.16-.48z'/%3E%3Cellipse cx='10.778' cy='18.066' fill='%23000' rx='.681' ry='1.233'/%3E%3Cellipse cx='15.787' cy='18.066' fill='%23000' rx='.681' ry='1.233'/%3E%3Cellipse cx='4.848' cy='37.071' fill='%23000' rx='.681' ry='1.233'/%3E%3Cellipse cx='21.156' cy='36.315' fill='%23000' rx='.681' ry='1.233'/%3E%3Cpath fill='%23000' d='M24.962 33.412c-4.127-.836-19.673-1.154-24.08 0L.56 32.14c4.647-1.194 20.353-.876 24.68 0l-.28 1.272z'/%3E%3Cpath fill='%23000' d='M12.78 43.554c-6.21 0-9.054-2.147-11.257-4.176C-.6 37.428.36 31.463.48 30.786L2.605 9.268c0-.2 0-.398.04-.637C1.122 7.916.36 6.405.64 4.575.963 2.506 2.686.278 4.85.278c.52 0 .882.16 1.082.478.36.557.04 1.153-.28 1.87-.44.914-.762 1.71-.52 2.386.72-.438 1.56-.637 2.443-.637H18.03c.922 0 1.843.28 2.645.756.08-.556-.24-1.152-.64-1.908-.402-.676-.763-1.313-.442-1.95.32-.556 1.002-.636 1.563-.636h.08c1.883 0 4.247 1.273 4.728 3.302.24 1.034.16 2.943-3.005 4.693.04.2.04.44.04.638.08.915 2.042 19.092 2.563 22.075.6 3.34-.04 6.722-1.563 8.393-1.602 1.71-4.848 3.818-11.22 3.818zM4.65 1.55c-1.242.12-2.484 1.553-2.725 3.183-.12.796-.08 2.268 1.643 2.824l.6.2-.16.596c-.08.318-.12.636-.12.915L1.764 30.906c-.4 2.307-.56 6.364.64 7.478 2.085 1.95 4.61 3.818 10.378 3.818 5.89 0 8.816-1.83 10.26-3.38 1.24-1.353 1.762-4.336 1.24-7.28-.52-3.102-2.483-21.44-2.604-22.195v-.08c0-.278-.04-.556-.12-.874l-.12-.517.48-.24C24 6.604 24.963 5.37 24.682 4.177 24.4 2.943 22.76 1.87 21.237 1.87c-.2 0-.32 0-.4.04.08.158.2.397.32.596.56.954 1.442 2.506.28 3.977l-.44.518-.522-.437c-.68-.597-1.522-.915-2.444-.915H7.573c-.802 0-1.603.28-2.244.756l-.482.398-.4-.478c-1.323-1.51-.48-3.26.04-4.295.04-.16.12-.32.16-.48z'/%3E%3Cpath fill='%23000' d='M12.3 3.858c0 1.59-.12 2.108-.72 2.108-.602 0-.802-.636-.802-2.187 0-1.592.16-2.507.76-2.507.602 0 .763.994.763 2.585zM14.504 3.858c0 1.59-.12 2.108-.72 2.108-.602 0-.802-.636-.802-2.187 0-1.592.16-2.507.76-2.507.602 0 .762.994.762 2.585z'/%3E%3C/g%3E%3Cpath fill='%23000' d='M55.565 31.836c-.68 1.552-.8 3.38-1.122 5.012-.4 2.188-1.563 4.216-1.282 6.483.2 1.593.842 3.78 2.405 4.576 2.244 1.153 2.003 1.51 2.003 1.51l-2.003-17.58zM36.092 31.836c.68 1.552.802 3.38 1.122 5.012.4 2.188 1.563 4.216 1.282 6.483-.2 1.593-.84 3.78-2.404 4.576-2.244 1.153-2.003 1.51-2.003 1.51l2.002-17.58zM55.645 27.183l-.6-.28c.48-.993 1.36-1.63 2.002-1.79.36-.078.6.04.722.16l-.442.517s-.08-.04-.16 0c-.44.04-1.122.597-1.523 1.393zM36.693 27.82l-.52-.44s.04-.078 0-.158c-.08-.437-.642-1.153-1.443-1.51l.28-.598c1.002.478 1.643 1.353 1.803 1.99.08.357-.04.596-.12.715z'/%3E%3Cpath fill='%235FC8E8' d='M60.993 30.586l-.957.542.968.523c.25.137.442.452.442.737 0 .496-.407.9-.913.9-.128-.02-.31-.066-.294-.062l-1.08-.267.354 1.052c.006.016.008.05.008.163 0 .497-.407.9-.912.9-.302 0-.605-.163-.784-.417l-.617-.874-.44.977c-.06.132-.158.194-.324.194-.225 0-.392-.165-.392-.383-.016-.163-.036-.315-.06-.514-.043-.333-.085-.676-.124-1.01-.02-.162-.02-.162-.038-.326-.087-.77-.138-1.338-.138-1.564 0-.238.055-.927.147-1.89l.03-.31c.04-.4.083-.813.125-1.216l.056-.53c.004-.284.17-.45.396-.45h.65v-2.434c0-4.603-5.758-7.796-11.708-7.796-5.805 0-10.868 3.063-10.868 7.716v2.427l.56.046c.166.013.322.187.322.385l.013.126c.016.075.044.213.08.398.06.31.12.636.177.966.043.25.082.494.115.725.098.673.148 1.21.136 1.536 0 .35-.053.864-.148 1.504-.03.21-.066.432-.104.66-.055.334-.116.667-.176.982-.036.19-.064.33-.08.407l-.012.12c0 .22-.167.385-.392.385-.12 0-.275-.1-.337-.22l-.457-.908-.586.83c-.18.253-.482.417-.784.417-.505 0-.912-.404-.912-.9 0-.114.003-.147.008-.164l.354-1.052-1.08.267c-.19.048-.266.062-.333.062-.505 0-.913-.404-.913-.9 0-.31.18-.61.478-.796l.917-.577-.972-.482c-.36-.177-.623-.606-.623-1.042 0-.655.527-1.178 1.193-1.178.074 0 .103 0 .13.003.02.002.84.27.84.27v-.882c0-.53.404-.94.913-.94.104 0 .15.003.194.008.035.003.937.446.937.446v-2.928c0-4.793 5.244-8.246 11.37-8.246 6.274 0 12.212 3.64 12.212 8.326v2.684l.756-.187c.074-.02.12-.022.254-.022.505 0 .912.404.912.9v.883l.802-.264c.018-.007.052-.01.17-.01.653 0 1.192.55 1.192 1.217 0 .426-.254.834-.653 1.06z'/%3E%3Cpath fill='%23000' d='M62.866 29.518c0-1.28-.993-2.35-2.252-2.434-.242-.814-.962-1.422-1.835-1.507v-1.27c0-5.525-6.572-9.56-13.433-9.56-6.72 0-12.59 3.874-12.59 9.48v1.262c-.938.038-1.713.677-1.96 1.554-1.26.085-2.247 1.118-2.247 2.395 0 .606.24 1.194.637 1.63-.276.363-.436.803-.436 1.272 0 1.125.88 2.043 1.99 2.117.157 1.016 1.04 1.793 2.106 1.793.457 0 .898-.15 1.262-.412.264.185.58.294.902.294.874 0 1.575-.674 1.61-1.536l.072-.37c.062-.323.124-.665.182-1.01.04-.235.076-.465.108-.685.103-.696.16-1.26.16-1.662.015-.396-.04-.992-.148-1.737-.035-.24-.075-.494-.12-.755-.058-.34-.12-.678-.182-.996l-.072-.36c-.026-.593-.378-1.117-.88-1.373v-1.422c0-3.825 4.43-6.51 9.648-6.51 5.366 0 10.488 2.846 10.488 6.59v1.32c-.61.227-1.04.81-1.04 1.504-.01.04-.03.225-.054.47-.043.405-.085.82-.125 1.225l-.03.314c-.097 1.016-.153 1.714-.153 2.01 0 .29.053.877.146 1.703l.038.33c.04.34.083.687.125 1.024l.057.442c-.005.814.71 1.524 1.606 1.524.346 0 .662-.1.92-.28.36.253.795.4 1.244.4 1.067 0 1.95-.78 2.108-1.8 1.09-.09 1.947-1 1.947-2.112 0-.448-.162-.893-.435-1.25.398-.44.636-1.01.636-1.614zm-1.873 1.06l-.957.544.968.523c.25.136.442.452.442.737 0 .497-.407.902-.913.902-.128-.02-.31-.066-.294-.062l-1.08-.268.354 1.054c.006.017.008.05.008.164 0 .497-.407.902-.912.902-.302 0-.605-.165-.784-.418l-.617-.876-.44.978c-.06.134-.158.196-.324.196-.225 0-.392-.165-.392-.384-.016-.165-.036-.316-.06-.516-.043-.333-.085-.677-.124-1.012-.02-.162-.02-.162-.038-.326-.087-.773-.138-1.34-.138-1.567 0-.24.055-.93.147-1.892l.03-.312c.04-.4.083-.815.125-1.218l.056-.53c.004-.285.17-.45.396-.45h.65v-2.44c0-4.61-5.758-7.81-11.708-7.81-5.805 0-10.868 3.07-10.868 7.73v2.43l.56.047c.166.014.322.188.322.387l.013.125c.016.075.044.213.08.398.06.31.12.637.177.968.043.25.082.494.115.726.098.675.148 1.213.136 1.54 0 .348-.053.864-.148 1.506-.03.21-.066.432-.104.66-.055.335-.116.67-.176.984-.036.19-.064.33-.08.408l-.012.122c0 .22-.167.384-.392.384-.12 0-.275-.1-.337-.22l-.457-.91-.586.832c-.18.254-.482.418-.784.418-.505 0-.912-.404-.912-.902 0-.114.003-.147.008-.164l.354-1.053-1.08.267c-.19.048-.266.062-.333.062-.505 0-.913-.404-.913-.902 0-.31.18-.61.478-.797l.917-.58-.972-.482c-.36-.18-.623-.608-.623-1.044 0-.658.527-1.18 1.193-1.18h.13c.02.003.84.273.84.273v-.884c0-.535.404-.943.913-.943.104 0 .15.002.194.007.035.003.937.447.937.447V24.23c0-4.8 5.244-8.26 11.37-8.26 6.274 0 12.212 3.646 12.212 8.34v2.688l.756-.187c.074-.02.12-.023.254-.023.505 0 .912.404.912.9v.885l.802-.265c.018-.006.052-.01.17-.01.653 0 1.192.553 1.192 1.22 0 .427-.254.836-.653 1.062z'/%3E%3Cg%3E%3Cpath fill='%2314798E' d='M58.516 34.202c0 2.132-1.667 3.884-3.755 3.884H37.166c-2.088 0-3.755-1.752-3.755-3.884 0-2.132 1.667-3.885 3.755-3.885H54.8c2.085 0 3.716 1.75 3.716 3.885z'/%3E%3Cpath fill='%23000' d='M57.296 34.202c0-1.472-1.097-2.665-2.497-2.665H37.164c-1.4 0-2.536 1.193-2.536 2.665 0 1.47 1.135 2.665 2.535 2.665H54.76c1.4 0 2.536-1.194 2.536-2.665zm1.22 0c0 2.132-1.667 3.884-3.755 3.884H37.166c-2.088 0-3.755-1.752-3.755-3.884 0-2.132 1.667-3.885 3.755-3.885H54.8c2.085 0 3.716 1.75 3.716 3.885z'/%3E%3Cg fill='%230E5968'%3E%3Cpath d='M36.786 33.263h.6v3.583h-.6zM39.32 33.263h.6v3.583h-.6zM41.857 33.263h.6v3.583h-.6zM44.392 33.263h.6v3.583h-.6zM46.928 33.263h.6v3.583h-.6zM49.463 33.263h.6v3.583h-.6zM51.998 33.263h.6v3.583h-.6zM54.534 33.263h.6v3.583h-.6z'/%3E%3C/g%3E%3Cpath fill='%2314798E' d='M57.53 32.165l.05 1.268H34.31l.05-1.267c.25-6.508 5.334-11.674 11.586-11.674 6.24 0 11.334 5.192 11.587 11.673z'/%3E%3Cpath fill='%23000' d='M56.313 32.213c-.227-5.807-4.768-10.5-10.37-10.5-5.6 0-10.14 4.653-10.368 10.5h20.738zm1.218-.048l.05 1.268H34.31l.05-1.267c.25-6.508 5.334-11.674 11.586-11.674 6.24 0 11.334 5.192 11.587 11.673z'/%3E%3Cpath fill='%230E5968' d='M48.212 31.736h-4.536c.068-4.153 1.304-6.52 2.003-7.836.11-.185.202-.355.276-.51.075.15.16.316.253.51.66 1.315 1.932 3.683 2.002 7.836zm.605 0h2.195c-.093-4.797-2.993-7.385-4.498-8.606.067.135.146.286.225.452.7 1.355 2.008 3.84 2.077 8.154zm-5.746 0h-2.346c.1-5.054 3.35-7.655 4.728-8.79.01-.01.022-.017.033-.025-.074.18-.19.404-.336.662-.7 1.355-2.01 3.84-2.08 8.154zm2.912-9.697v-.447c-2.185 0-8.942 4.57-9.006 10.143h-1.363v.636h20.7v-.636h-1.325c-.064-5.573-6.822-10.143-9.006-10.143v.446zm.568.29c2.244.663 7.735 4.524 7.794 9.406h-2.726c-.103-5.374-3.65-8.21-4.955-9.308l-.113-.098zm-1.538.148c-2.453.97-7.374 4.672-7.43 9.258h2.537c.1-5.295 3.508-8.126 4.892-9.258z'/%3E%3C/g%3E%3Cpath fill='%23000' d='M34.558 81.192c2.352 0 3.696-1.296 4.464-2.624l-1.952-.944c-.448.88-1.408 1.552-2.512 1.552-1.936 0-3.344-1.488-3.344-3.504s1.408-3.504 3.344-3.504c1.104 0 2.064.688 2.512 1.552l1.952-.96c-.752-1.328-2.112-2.608-4.464-2.608-3.2 0-5.68 2.24-5.68 5.52 0 3.28 2.48 5.52 5.68 5.52zm9.36 0c2.56 0 4.096-1.856 4.096-4.064 0-2.192-1.536-4.048-4.096-4.048-2.544 0-4.08 1.856-4.08 4.048 0 2.208 1.536 4.064 4.08 4.064zm0-1.808c-1.264 0-1.968-1.04-1.968-2.256 0-1.2.704-2.24 1.968-2.24s1.984 1.04 1.984 2.24c0 1.216-.72 2.256-1.984 2.256zM51.55 81V70.328h-2.032V81h2.032zm9.376 0V70.328h-2.048v3.936c-.608-.784-1.472-1.184-2.384-1.184-1.968 0-3.424 1.536-3.424 4.064 0 2.576 1.472 4.048 3.424 4.048.928 0 1.776-.416 2.384-1.184V81h2.048zm-3.808-1.616c-1.152 0-1.952-.912-1.952-2.24 0-1.344.8-2.256 1.952-2.256.688 0 1.424.368 1.76.88v2.736c-.336.512-1.072.88-1.76.88z'/%3E%3C/g%3E%3C/svg%3E");
	}
	.chilly {
		background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91 91'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='90' height='90' x='.825' y='.8' fill='%235FC8E8' rx='2'/%3E%3Cg transform='translate(33.45 20)'%3E%3Cpath fill='%23FFF' d='M4.648 1.52c-1.242.117-2.484 1.52-2.725 3.12-.12.778-.08 2.22 1.643 2.766l.6.195-.16.586c-.08.312-.12.624-.12.896L1.764 30.288c-.4 2.26-.56 6.236.64 7.328 2.085 1.91 4.61 3.742 10.378 3.742 5.89 0 8.816-1.793 10.26-3.313 1.24-1.326 1.762-4.25 1.24-7.134-.52-3.04-2.483-21.01-2.604-21.75v-.078c0-.272-.04-.545-.12-.857l-.12-.507.48-.234C24 6.47 24.963 5.262 24.682 4.094c-.28-1.21-1.922-2.262-3.444-2.262-.2 0-.32 0-.4.04.08.155.2.39.32.584.56.935 1.442 2.456.28 3.898l-.44.507-.522-.428c-.68-.585-1.522-.897-2.444-.897H7.573c-.802 0-1.603.273-2.244.74l-.482.39-.4-.467c-1.323-1.48-.48-3.197.04-4.21.04-.156.12-.312.16-.468z'/%3E%3Cellipse cx='10.778' cy='15.337' fill='%23000' rx='.681' ry='1.208'/%3E%3Cellipse cx='15.787' cy='15.337' fill='%23000' rx='.681' ry='1.208'/%3E%3Cellipse cx='4.848' cy='36.33' fill='%23000' rx='.681' ry='1.208'/%3E%3Cellipse cx='21.156' cy='35.589' fill='%23000' rx='.681' ry='1.208'/%3E%3Cpath fill='%23000' d='M24.962 32.743c-4.127-.818-19.673-1.13-24.08 0l-.32-1.247c4.647-1.17 20.353-.858 24.68 0l-.28 1.247z'/%3E%3Cpath fill='%23000' d='M12.78 42.683c-6.21 0-9.054-2.105-11.257-4.093C-.6 36.68.36 30.833.48 30.17L2.605 9.083c0-.195 0-.39.04-.623C1.122 7.756.36 6.275.64 4.482.963 2.456 2.686.273 4.85.273c.52 0 .882.156 1.082.468.36.546.04 1.13-.28 1.833-.44.896-.762 1.676-.52 2.34.72-.43 1.56-.625 2.443-.625H18.03c.922 0 1.843.273 2.645.74.08-.545-.24-1.13-.64-1.87-.402-.663-.763-1.287-.442-1.91.32-.546 1.002-.624 1.563-.624h.08c1.883 0 4.247 1.247 4.728 3.235.24 1.013.16 2.884-3.005 4.6.04.194.04.427.04.622.08.897 2.042 18.71 2.563 21.634.6 3.275-.04 6.588-1.563 8.225-1.602 1.677-4.848 3.743-11.22 3.743zM4.65 1.52c-1.242.117-2.484 1.52-2.725 3.12-.12.778-.08 2.22 1.643 2.766l.6.195-.16.586c-.08.312-.12.624-.12.896L1.764 30.288c-.4 2.26-.56 6.236.64 7.328 2.085 1.91 4.61 3.742 10.378 3.742 5.89 0 8.816-1.793 10.26-3.313 1.24-1.326 1.762-4.25 1.24-7.134-.52-3.04-2.483-21.01-2.604-21.75v-.078c0-.272-.04-.545-.12-.857l-.12-.507.48-.234C24 6.47 24.963 5.262 24.682 4.094c-.28-1.21-1.922-2.262-3.444-2.262-.2 0-.32 0-.4.04.08.155.2.39.32.584.56.935 1.442 2.456.28 3.898l-.44.507-.522-.428c-.68-.585-1.522-.897-2.444-.897H7.573c-.802 0-1.603.273-2.244.74l-.482.39-.4-.467c-1.323-1.48-.48-3.197.04-4.21.04-.156.12-.312.16-.468z'/%3E%3Cpath fill='%23000' d='M12.3 3.78c0 1.56-.12 2.067-.72 2.067-.602 0-.802-.624-.802-2.144 0-1.56.16-2.456.76-2.456.602 0 .763.975.763 2.534zM14.504 3.78c0 1.56-.12 2.067-.72 2.067-.602 0-.802-.624-.802-2.144 0-1.56.16-2.456.76-2.456.602 0 .762.975.762 2.534z'/%3E%3C/g%3E%3Cpath fill='%23000' d='M56.008 31.07c-.68 1.52-.8 3.314-1.122 4.912-.4 2.144-1.563 4.132-1.282 6.354.2 1.56.84 3.703 2.404 4.482 2.244 1.13 2.003 1.482 2.003 1.482L56.01 31.07zM36.535 31.07c.68 1.52.802 3.314 1.122 4.912.4 2.144 1.563 4.132 1.282 6.354-.2 1.56-.842 3.703-2.405 4.482-2.244 1.13-2.003 1.482-2.003 1.482l2.003-17.23zM56.088 26.51l-.6-.273c.48-.975 1.36-1.598 2.002-1.754.36-.078.6.04.722.156l-.44.505s-.08-.04-.16 0c-.442.04-1.123.585-1.524 1.365zM37.136 27.133l-.52-.428s.04-.078 0-.156c-.08-.43-.642-1.132-1.443-1.483l.28-.584c1.002.467 1.643 1.325 1.803 1.95.08.35-.04.583-.12.7z'/%3E%3Cg%3E%3Cpath fill='%235FC8E8' d='M61.876 28.973l-.642.424v.254c.25.137 1.034.235 1.034.52 0 .496.636 1.444.13 1.444-.128-.02-1.18.17-1.164.173l-1.115.183.146.032c.006.017.203.293.203.407 0 .495-.754 1.4-1.26 1.4-.3 0-.975-.9-1.154-1.154v.26l-.535.484c-.06.134-.678.41-.844.41-.225 0-.392-1.02-.392-1.24-.016-.163-.036-.315-.06-.514-.043-.333-.085-.676-.124-1.01-.02-.162-.02-.162-.038-.326-.087-.77-.138-1.338-.138-1.564 0-.238.054-.927.147-1.89l.03-.31c.04-.4.082-.813.125-1.216.025-.242.044-.426.056-.53.004-.284.17-.45.396-.45h.65v-2.434c0-4.603-5.8-7.275-11.75-7.275-5.803 0-10.336 2.623-10.336 7.276l.205 2.057-.135.336c.166.013.322.187.322.385l.013.126c.016.075.044.213.08.398.06.31.66.625.715.955.043.25-.033.634 0 .865.098.675.497 1.383.485 1.708 0 .348-.168.924-.263 1.564-.03.21.038.665 0 .894-.056.334-.558.48-.618.795-.037.188-.384-.078-.4 0l-.012.12c0 .22-.167.385-.392.385-.12 0-.276-.1-.337-.22l-.457.705c-.18.253-1.068.22-1.37.22-.505 0-.912-.99-.912-1.486 0-.114.002-.147.008-.164l.28-.183-.71.183c-.192.048-.707 0-.774 0-.506 0-.768-1.127-.768-1.623 0-.31.18-.61.477-.796l.918-.577-.972-.482c-.36-.177-.623-.606-.623-1.042 0-.655.527-1.178 1.193-1.178.074 0 .102 0 .13.003.02.002.84.27.84.27v-.882c0-.53.404-.94.913-.94.104 0 .15.003.194.008.035.003.937.446.937.446v-2.928c0-4.793 5.244-8.246 11.37-8.246 6.274 0 12.77 3.64 12.77 8.326l.2 2.193v.303c.073-.02.118-.022.253-.022.505 0 1.32.094 1.32.59l.146.88.248.05c.018-.007.052-.01.17-.01.653 0 1.714.47 1.714 1.138 0 .425-.124 1.3-.522 1.525z'/%3E%3Cpath fill='%23000' d='M63.315 27.77c0-1.28-.992-2.35-2.25-2.434-.243-.814-.963-1.422-1.837-1.507v-1.27c0-5.526-6.57-9.56-13.43-9.56-6.72 0-12.59 3.872-12.59 9.48v1.26c-.94.04-1.714.68-1.962 1.556C29.986 25.38 29 26.414 29 27.69c0 .608.24 1.196.636 1.632-.276.363-.436.803-.436 1.272 0 1.125.88 2.043 1.99 2.117.157 1.018 1.04 1.795 2.106 1.795.456 0 .898-.15 1.262-.412.264.184.58.293.902.293.874 0 1.575-.674 1.61-1.536l.072-.37c.062-.323.123-.665.18-1.01.04-.236.077-.465.11-.685.102-.696.16-1.26.16-1.663.015-.396-.04-.993-.148-1.737-.035-.24-.076-.494-.12-.755-.058-.34-.12-.678-.182-.997l-.072-.36c-.026-.592-.378-1.117-.88-1.372v-1.42c0-3.825 4.43-6.51 9.647-6.51 5.366 0 10.49 2.846 10.49 6.59v1.32c-.613.227-1.043.81-1.043 1.503-.008.04-.027.226-.053.47-.04.406-.084.822-.123 1.226-.016.156-.016.156-.03.313-.098 1.015-.153 1.713-.153 2.008 0 .293.053.88.146 1.705l.038.33c.04.34.082.687.125 1.023l.056.443c-.006.816.71 1.526 1.606 1.526.345 0 .66-.1.92-.28.36.252.795.4 1.243.4 1.066 0 1.95-.78 2.107-1.8 1.09-.092 1.948-1 1.948-2.112 0-.448-.163-.893-.435-1.25.398-.44.635-1.01.635-1.614zm-1.872 1.06l-.957.543.967.524c.252.136.442.452.442.737 0 .497-.407.9-.912.9-.128-.017-.31-.064-.294-.06l-1.08-.268.354 1.054c.005.017.008.05.008.164 0 .497-.407.9-.913.9-.302 0-.606-.163-.784-.416l-.618-.876-.437.978c-.06.134-.16.196-.324.196-.225 0-.392-.165-.392-.384-.016-.165-.036-.316-.06-.516-.043-.333-.085-.677-.125-1.012-.02-.162-.02-.162-.038-.326-.087-.773-.14-1.34-.14-1.567 0-.237.056-.927.148-1.89l.03-.312.124-1.22.056-.53c.004-.284.17-.45.396-.45h.65v-2.44c0-4.61-5.76-7.808-11.71-7.808-5.804 0-10.866 3.07-10.866 7.73v2.43l.56.047c.165.014.322.188.322.387l.013.125.08.397c.06.31.12.637.177.968.042.25.08.494.115.726.098.677.147 1.215.136 1.54 0 .35-.053.866-.148 1.507-.03.212-.066.433-.105.662-.056.333-.116.666-.176.982-.036.19-.064.33-.08.407l-.012.122c0 .22-.167.384-.392.384-.12 0-.276-.1-.337-.22l-.457-.91-.586.832c-.18.253-.482.418-.784.418-.506 0-.913-.405-.913-.902 0-.114.003-.147.01-.164l.352-1.054-1.078.268c-.192.048-.267.062-.334.062-.506 0-.913-.404-.913-.902 0-.31.18-.61.477-.797l.917-.58-.97-.482c-.362-.18-.624-.608-.624-1.045 0-.656.527-1.18 1.193-1.18.073 0 .102 0 .13.003.02.002.84.27.84.27v-.882c0-.533.404-.94.913-.94.103 0 .148 0 .194.005.035.004.937.447.937.447V22.48c0-4.8 5.244-8.26 11.37-8.26 6.273 0 12.212 3.646 12.212 8.34v2.688l.755-.188c.075-.018.12-.02.254-.02.505 0 .912.403.912.9v.884l.8-.265c.02-.007.054-.01.17-.01.655 0 1.194.552 1.194 1.22 0 .426-.255.835-.653 1.06z'/%3E%3C/g%3E%3Cpath fill='%23000' d='M32.046 80.192c2.352 0 3.696-1.296 4.464-2.624l-1.952-.944c-.448.88-1.408 1.552-2.512 1.552-1.936 0-3.344-1.488-3.344-3.504s1.408-3.504 3.344-3.504c1.104 0 2.064.688 2.512 1.552l1.952-.96c-.752-1.328-2.112-2.608-4.464-2.608-3.2 0-5.68 2.24-5.68 5.52 0 3.28 2.48 5.52 5.68 5.52zM45.086 80v-5.488c0-1.504-.816-2.432-2.512-2.432-1.264 0-2.224.608-2.72 1.2v-3.952h-2.032V80h2.032v-5.2c.352-.464.976-.912 1.76-.912.88 0 1.44.336 1.44 1.408V80h2.032zm3.024-8.56c.672 0 1.216-.544 1.216-1.216 0-.672-.544-1.2-1.216-1.2-.656 0-1.216.528-1.216 1.2 0 .672.56 1.216 1.216 1.216zM49.134 80v-7.728h-2.032V80h2.032zm4.048 0V69.328H51.15V80h2.032zm4.048 0V69.328h-2.032V80h2.032zm1.744 3.024c.256.064.768.112 1.008.112 1.328-.032 2.352-.416 2.928-1.872l3.632-8.992H64.35l-2.016 5.376-2.016-5.376h-2.176l3.136 7.84-.288.656c-.192.416-.544.56-1.072.56-.192 0-.464-.048-.64-.128l-.304 1.824z'/%3E%3C/g%3E%3C/svg%3E");
	}
	.perfect {
		background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='90' height='90' fill='%2395BE3D' rx='2'/%3E%3Cpath fill='%23FFF' d='M33.476 20.348c-.668 0-.825.317-.864.634-.197 1.23 1.18 3.648 3.655 4.48l.59.2-.157.633c-.08.317-.118.595-.118.912l-2.044 21.29c-.393 2.3-.55 6.226.63 7.336 2.043 1.903 4.48 3.766 10.022 3.766 5.7 0 8.53-1.824 9.906-3.33 1.22-1.35 1.69-4.283 1.22-7.138-.513-3.053-2.44-21.092-2.517-21.885v-.08c0-.277-.04-.555-.12-.832l-.117-.516.472-.238c3.144-1.626 4.324-3.41 4.088-4.4-.118-.517-.708-.834-1.533-.834-1.376.04-1.455.397-1.81 1.507-.234.753-.47 1.665-1.256 2.577l-.433.555-.47-.436c-.63-.594-1.494-.91-2.36-.91H40.12c-.787 0-1.534.276-2.162.752l-.51.397-.434-.477c-.63-.714-1.1-1.467-1.494-2.062-.746-1.307-1.18-1.902-2.044-1.902z'/%3E%3Cpath fill='%23FFF' d='M33.476 20.348c-.668 0-.825.317-.864.634-.197 1.23 1.18 3.648 3.655 4.48l.59.2-.157.633c-.08.317-.118.595-.118.912l-2.2 22.718c-.04.436 5.502 0 11.005 0 5.542 0 11.085.397 11.045 0-.432-3.053-2.515-21.885-2.594-22.64v-.078c0-.277-.04-.555-.118-.832l-.118-.516.472-.24c3.145-1.624 4.324-3.41 4.088-4.4-.118-.515-.708-.832-1.533-.832-1.377.04-1.455.396-1.81 1.506-.235.754-.47 1.666-1.257 2.577l-.432.556-.51-.475c-.63-.594-1.494-.91-2.36-.91H40.12c-.787 0-1.534.276-2.162.752l-.51.397-.434-.477c-.63-.714-1.1-1.467-1.494-2.062-.746-1.307-1.18-1.902-2.044-1.902z'/%3E%3Cg fill='%23000' transform='translate(31 19)'%3E%3Cellipse cx='12.264' cy='13.004' rx='.668' ry='1.229'/%3E%3Cpath d='M17.767 13.004c0 .675-.275 1.23-.668 1.23-.355 0-.67-.555-.67-1.23 0-.674.276-1.23.67-1.23.353 0 .667.556.667 1.23zM7.154 35.564c0 .674-.275 1.23-.668 1.23-.354 0-.63-.556-.63-1.23 0-.674.276-1.23.63-1.23.393 0 .668.556.668 1.23zM22.956 34.81c0 .675-.275 1.23-.668 1.23-.354 0-.668-.555-.668-1.23 0-.673.275-1.228.668-1.228s.668.555.668 1.23zM25.983 31.956c-4.01-.832-19.065-1.15-23.35 0l-.353-1.308c4.52-1.19 19.733-.872 23.94 0l-.237 1.308z'/%3E%3Cpath d='M14.19 41.947c-6.053 0-8.805-2.14-10.927-4.123-2.084-1.943-1.14-7.85-1.022-8.485L4.286 8.127c0-.198 0-.397.04-.595C1.65 6.383 0 3.648.314 1.783.47.674 1.296 0 2.474 0 4.09 0 4.876 1.19 5.7 2.458c.275.476.59.99.982 1.467.747-.436 1.573-.674 2.438-.674h10.14c.944 0 1.85.28 2.635.794.314-.555.47-1.07.63-1.586C22.876 1.348 23.27.04 25.55 0h.08c1.453 0 2.554.714 2.83 1.863.353 1.428-.63 3.648-4.364 5.67.04.198.04.397.04.595.078.912 2.004 18.833 2.476 21.766.55 3.29-.04 6.622-1.533 8.287-1.534 1.706-4.68 3.767-10.89 3.767zM2.476 1.347c-.668 0-.825.318-.864.635-.197 1.23 1.18 3.648 3.655 4.48l.59.2-.157.633c-.08.317-.118.595-.118.912l-2.044 21.29c-.393 2.3-.55 6.226.63 7.336C6.21 38.736 8.647 40.6 14.19 40.6c5.7 0 8.53-1.824 9.906-3.33 1.22-1.35 1.69-4.283 1.22-7.138-.513-3.053-2.44-21.092-2.517-21.885v-.08c0-.277-.04-.555-.12-.832l-.117-.516.472-.238c3.144-1.626 4.324-3.41 4.088-4.4-.118-.517-.708-.834-1.533-.834-1.376.04-1.455.397-1.81 1.507-.234.753-.47 1.665-1.256 2.577l-.433.555-.47-.436c-.63-.594-1.494-.91-2.36-.91H9.12c-.787 0-1.534.276-2.162.752l-.51.397-.434-.477c-.63-.714-1.1-1.467-1.494-2.062C3.774 1.944 3.34 1.35 2.476 1.35z'/%3E%3Cpath d='M13.758 2.855c0 1.546-.118 2.1-.708 2.1s-.786-.633-.786-2.18c0-1.546.157-2.458.747-2.458.55-.04.748.952.748 2.538zM15.88 2.855c0 1.546-.117 2.1-.707 2.1s-.786-.633-.786-2.18c0-1.546.157-2.458.747-2.458.59-.04.747.952.747 2.538z'/%3E%3C/g%3E%3Cpath fill='%23000' d='M54.664 29.15c-.67 1.506-.787 3.33-1.062 4.956-.393 2.14-1.533 4.163-1.218 6.383.196 1.545.825 3.726 2.32 4.52 2.16 1.15 1.925 1.506 1.925 1.506L54.663 29.15zM35.796 29.15c.668 1.506.786 3.33 1.06 4.956.394 2.14 1.534 4.163 1.22 6.383-.197 1.545-.826 3.726-2.32 4.52-2.162 1.15-1.965 1.506-1.965 1.506l2.006-17.366zM22.272 79.832V76.04h2.72c2.304 0 3.584-1.584 3.584-3.44 0-1.872-1.264-3.44-3.584-3.44H20v10.672h2.272zm2.416-5.792h-2.416v-2.88h2.416c.896 0 1.568.544 1.568 1.44 0 .88-.672 1.44-1.568 1.44zm8.608 5.984c1.2 0 2.416-.368 3.184-1.072l-.896-1.312c-.496.48-1.408.768-2.064.768-1.312 0-2.096-.816-2.224-1.792h5.744v-.448c0-2.528-1.568-4.256-3.872-4.256-2.352 0-4 1.808-4 4.048 0 2.48 1.776 4.064 4.128 4.064zm1.776-4.784h-3.808c.096-.768.64-1.712 1.904-1.712 1.344 0 1.856.976 1.904 1.712zm5.472 4.592v-5.104c.336-.496 1.232-.88 1.904-.88.224 0 .416.016.56.048v-1.984c-.96 0-1.92.56-2.464 1.248v-1.056h-2.032v7.728h2.032zm6.224 0V73.88h1.568v-1.776h-1.568v-.416c0-.72.4-1.088.96-1.088.368 0 .64.112.848.32l.768-1.2c-.496-.528-1.28-.72-2.016-.72-1.552 0-2.608 1.04-2.608 2.688v.416h-1.28v1.776h1.28v5.952h2.048zm6.368.192c1.2 0 2.416-.368 3.184-1.072l-.896-1.312c-.496.48-1.408.768-2.064.768-1.312 0-2.096-.816-2.224-1.792h5.744v-.448c0-2.528-1.568-4.256-3.872-4.256-2.352 0-4 1.808-4 4.048 0 2.48 1.776 4.064 4.128 4.064zm1.776-4.784h-3.808c.096-.768.64-1.712 1.904-1.712 1.344 0 1.856.976 1.904 1.712zm7.04 4.784c1.584 0 2.544-.688 3.056-1.408l-1.328-1.232c-.368.512-.928.832-1.632.832-1.232 0-2.096-.912-2.096-2.256 0-1.344.864-2.24 2.096-2.24.704 0 1.264.288 1.632.832l1.328-1.248c-.512-.704-1.472-1.392-3.056-1.392-2.384 0-4.096 1.68-4.096 4.048 0 2.384 1.712 4.064 4.096 4.064zm6.976 0c.848 0 1.392-.224 1.696-.496l-.432-1.536c-.112.112-.4.224-.704.224-.448 0-.704-.368-.704-.848V73.88h1.568v-1.776h-1.568v-2.112h-2.048v2.112h-1.28v1.776h1.28v4.032c0 1.376.768 2.112 2.192 2.112z'/%3E%3C/g%3E%3C/svg%3E");
	}
	.warm {
		background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='90' height='90' fill='%23F58F00' rx='2'/%3E%3Cpath fill='%23FFF' d='M33.536 19.713c-.672 0-.83.31-.87.622-.196 1.207 1.185 3.58 3.673 4.4l.59.194-.157.62c-.08.313-.118.585-.118.897l-2.053 20.94c-.395 2.258-.553 6.112.63 7.202 2.054 1.867 4.502 3.697 10.07 3.697 5.724 0 8.567-1.79 9.95-3.27 1.223-1.323 1.696-4.204 1.223-7.006-.514-2.997-2.448-20.707-2.527-21.486v-.077c0-.273-.04-.545-.12-.818l-.117-.507.475-.233c3.158-1.596 4.343-3.348 4.106-4.32-.118-.507-.71-.818-1.54-.818-1.38.04-1.46.39-1.815 1.48-.237.738-.474 1.634-1.264 2.53l-.433.544-.474-.467c-.63-.585-1.5-.897-2.37-.897H40.21c-.79 0-1.54.273-2.17.74l-.515.39-.434-.468c-.633-.7-1.106-1.44-1.5-2.024-.75-1.283-1.186-1.867-2.054-1.867z'/%3E%3Cpath fill='%23FFF' d='M33.536 19.713c-.672 0-.83.31-.87.622-.196 1.207 1.185 3.58 3.673 4.4l.59.194-.157.62c-.08.313-.118.585-.118.897l-2.25 22.303c-.04.428 5.527 0 11.054 0 5.566 0 11.133.39 11.094 0-.435-2.997-2.527-21.486-2.606-22.226v-.077c0-.273-.04-.545-.12-.818l-.117-.507.475-.233c3.158-1.596 4.343-3.348 4.106-4.32-.118-.507-.71-.818-1.54-.818-1.38.04-1.46.39-1.815 1.48-.237.738-.474 1.634-1.264 2.53l-.433.544-.474-.467c-.63-.585-1.5-.897-2.37-.897H40.21c-.79 0-1.54.273-2.17.74l-.515.39-.434-.468c-.633-.7-1.106-1.44-1.5-2.024-.75-1.283-1.186-1.867-2.054-1.867z'/%3E%3Cg fill='%23000' transform='translate(31.325 18)'%3E%3Cellipse cx='12.042' cy='13.156' rx='.671' ry='1.207'/%3E%3Cpath d='M17.53 13.156c0 .662-.276 1.207-.67 1.207-.357 0-.672-.545-.672-1.207 0-.66.276-1.206.67-1.206.396 0 .672.545.672 1.206zM6.91 35.304c0 .662-.277 1.207-.672 1.207-.355 0-.632-.544-.632-1.206 0-.66.277-1.206.632-1.206s.67.545.67 1.206zM22.78 34.565c0 .66-.275 1.206-.67 1.206-.355 0-.67-.544-.67-1.205 0-.662.275-1.207.67-1.207.355 0 .67.545.67 1.207zM25.82 31.762c-4.026-.817-19.148-1.13-23.45 0l-.356-1.284c4.54-1.168 19.82-.857 24.044 0l-.237 1.284z'/%3E%3Cpath d='M13.977 41.57c-6.08 0-8.844-2.1-10.976-4.047-2.092-1.907-1.144-7.707-1.026-8.33L4.027 8.37c0-.196 0-.39.04-.585C1.382 6.655-.276 3.97.04 2.14.196 1.05 1.026.39 2.21.39c1.62 0 2.41 1.167 3.24 2.413.275.467.63.934 1.025 1.44.75-.428 1.58-.662 2.448-.662H19.11c.947 0 1.855.274 2.645.78.315-.545.473-1.05.63-1.557.357-1.13.712-2.375 3.002-2.453h.08c1.46 0 2.565.7 2.842 1.83.314 1.44-.673 3.62-4.384 5.605.04.194.04.39.04.584.08.894 2.013 18.488 2.487 21.368.553 3.23-.04 6.5-1.54 8.135-1.54 1.674-4.738 3.698-10.936 3.698zM2.21 1.714c-.67 0-.828.31-.868.622-.197 1.207 1.185 3.58 3.672 4.4l.592.194-.157.62c-.08.313-.12.585-.12.897l-2.053 20.94c-.395 2.258-.553 6.112.632 7.202 2.052 1.867 4.5 3.697 10.067 3.697 5.725 0 8.567-1.79 9.95-3.27 1.223-1.323 1.697-4.204 1.223-7.006-.513-2.997-2.448-20.707-2.527-21.486v-.077c0-.273-.04-.545-.118-.818l-.12-.507.475-.233c3.16-1.596 4.343-3.348 4.106-4.32-.118-.507-.71-.818-1.54-.818-1.38.04-1.46.39-1.816 1.48-.237.738-.474 1.634-1.263 2.53l-.434.544-.474-.467c-.633-.585-1.502-.897-2.37-.897H8.883c-.79 0-1.54.273-2.17.74l-.514.39-.436-.468c-.63-.7-1.105-1.44-1.5-2.024-.75-1.283-1.184-1.867-2.053-1.867z'/%3E%3Cpath d='M13.503 3.192c0 1.518-.12 2.063-.71 2.063-.593 0-.79-.623-.79-2.14 0-1.52.157-2.414.75-2.414.592-.038.75.935.75 2.492zM15.674 3.192c0 1.518-.118 2.063-.71 2.063-.593 0-.79-.623-.79-2.14 0-1.52.158-2.414.75-2.414.553-.038.75.935.75 2.492z'/%3E%3C/g%3E%3Cpath fill='%23000' d='M54.816 28.354c-.67 1.48-.79 3.27-1.066 4.865-.394 2.1-1.54 4.086-1.224 6.266.198 1.518.83 3.66 2.33 4.438 2.17 1.128 1.935 1.48 1.935 1.48l-1.974-17.05zM35.865 28.354c.67 1.48.79 3.27 1.066 4.865.396 2.1 1.54 4.086 1.225 6.266-.197 1.518-.83 3.66-2.33 4.438-2.17 1.128-1.974 1.48-1.974 1.48l2.015-17.05z'/%3E%3Cpath fill='%23F05910' d='M47.022 27.5c.056-.027.115-.055.18-.084.448-.204.943-.408 1.47-.598 1.24-.446 2.47-.75 3.65-.852.27-.023.536-.035.797-.035 1.294 0 2.666.13 4.036.346.478.075.92.156 1.32.237.244.05.42.088.52.11l.854.203.16 2.77-.972.958c.14-.137.146-.15.146-.152-.026.09-.437 2.082-.656 2.847-.386 1.343-.883 2.376-1.622 3.104-1.836 1.81-6.423 2.154-8.348.946-1.414-.86-2.782-3.57-3.1-5.546-.037-.224-.06-.44-.068-.64l-.002-.152v-.78h1.177l-.827.84c.113.11.146.124.14.123-.09-.02-.215-.03-.35-.033-.094 0-.116 0-.138.002-.136.004-.264.02-.36.04-.002 0 .03-.013.15-.132l-.826-.84h1.177v.78c0 .05 0 .1-.002.15-.008.2-.033.416-.07.642-.33 1.946-1.714 4.678-3.098 5.546-1.978 1.204-6.512.864-8.337-.935-.755-.726-1.256-1.77-1.645-3.143-.207-.733-.596-2.624-.642-2.81-.33-.326-.343-.338-.448-.44l-.38-.376.16-2.767.85-.205c.1-.023.275-.062.516-.112.396-.08.837-.16 1.313-.237 1.364-.215 2.74-.345 4.053-.345.26 0 .527.013.798.036 1.177.1 2.41.406 3.647.852.53.19 1.023.394 1.472.598l.187.086c.91-.164 2.21-.172 3.118-.003z'/%3E%3Cpath fill='%23000' d='M43.76 28.743s-3.118-1.635-5.96-1.635c-2.843 0-5.607.662-5.607.662l-.08 1.362.594.584c.394.39.552 4.282 2.132 5.8 1.578 1.557 5.565 1.596 6.908.778 1.303-.817 2.606-3.97 2.606-5.332v-.78c.316-.31 1.855-.35 2.21 0v.78c0 1.4 1.264 4.515 2.607 5.332 1.303.818 5.33.78 6.91-.778 1.58-1.557 1.737-5.41 2.132-5.8l.592-.584-.08-1.362s-2.802-.662-5.605-.662c-2.844 0-5.963 1.635-5.963 1.635-.79-.272-2.645-.233-3.396 0zm3.262-1.244c.056-.027.115-.055.18-.084.448-.204.943-.408 1.47-.598 1.24-.446 2.47-.75 3.65-.852.27-.023.536-.035.797-.035 1.294 0 2.666.13 4.036.346.478.075.92.156 1.32.237.244.05.42.088.52.11l.854.203.16 2.77-.972.958c.14-.137.146-.15.146-.152-.026.09-.437 2.082-.656 2.847-.386 1.343-.883 2.376-1.622 3.104-1.836 1.81-6.423 2.154-8.348.946-1.414-.86-2.782-3.57-3.1-5.546-.33 1.946-1.714 4.678-3.098 5.546-1.978 1.204-6.512.864-8.337-.935-.755-.726-1.256-1.77-1.645-3.143-.207-.733-.596-2.624-.642-2.81-.33-.326-.343-.338-.448-.44l-.38-.376.16-2.767.85-.205c.1-.023.275-.062.516-.112.396-.08.837-.16 1.313-.237 1.364-.215 2.74-.345 4.053-.345.26 0 .527.013.798.036 1.177.1 2.41.406 3.647.852.53.19 1.023.394 1.472.598l.187.086c.91-.164 2.21-.172 3.118-.003z'/%3E%3Cpath fill='%23000' d='M43.05 29.18c-.083-.044-.236-.12-.447-.215-.35-.16-.737-.317-1.15-.465-.984-.353-1.96-.59-2.882-.66-.18-.015-.36-.022-.533-.022-1.024 0-2.057.104-3.05.278-.347.06-.665.125-.947.19-.17.04-.292.07-.358.09l-.287.078.04.295.043.327.096.72c.072.548.12.907.137 1.02-.032-.138.323 1.592.484 2.164.284 1.01.645 1.77 1.155 2.273 1.266 1.25 4.636 1.5 6.02.672 1.094-.678 2.26-3.237 2.26-4.613v-.623l-.018-.107-.438-1.338-.123-.065z'/%3E%3Cpath fill='%233D3D3D' d='M42.946 30.744v.568c0 1.157-1.062 3.492-1.93 4.03-1.124.673-4.15.447-5.188-.575-.407-.4-.722-1.066-.977-1.97-.152-.545-.503-2.252-.47-2.108l-.128-.97-.098-.733c0-.01-.002-.017-.003-.026.015-.002.03-.005.044-.01.27-.06.576-.124.91-.182.957-.167 1.952-.268 2.933-.268.157 0 .317.007.482.02.85.064 1.772.288 2.703.622.395.142.764.293 1.098.445.12.053.217.1.293.137l.333 1.02z'/%3E%3Cpath fill='%23000' d='M47.33 30.65v.623c0 1.376 1.164 3.935 2.253 4.61 1.34.833 4.72.58 6.022-.665.507-.5.865-1.252 1.148-2.253.163-.573.505-2.228.488-2.156.022-.125.07-.48.143-1.023l.004-.033.094-.718.044-.327.038-.295-.286-.08c-.066-.017-.188-.048-.358-.087-.282-.066-.6-.13-.947-.19-.992-.175-2.025-.28-3.05-.28-.2 0-.41.01-.622.03-.88.08-1.816.313-2.76.653-.41.15-.795.308-1.144.466-.21.096-.364.17-.448.215l-.118.063-.48 1.332-.02.115z'/%3E%3Cpath fill='%233D3D3D' d='M48.38 29.687c.076-.037.175-.084.296-.14.333-.15.7-.302 1.094-.444.893-.322 1.774-.542 2.59-.615.192-.018.38-.026.56-.026.982 0 1.977.1 2.933.267.335.057.64.12.91.183l.045.01-.003.024-.095.717-.004.034c-.07.528-.12.886-.133.973.017-.072-.322 1.564-.477 2.11-.253.896-.566 1.554-.966 1.948-1.07 1.02-4.104 1.248-5.187.576-.87-.54-1.932-2.874-1.932-4.03v-.564l.37-1.023z'/%3E%3Cpath fill='%23000' d='M35.702 77l3.04-10.672h-2.56l-1.856 7.712-2.016-7.712h-1.776l-2.032 7.712-1.872-7.712h-2.544L27.142 77h2.416l1.856-7.328L33.286 77h2.416zm10.096 0v-4.992c0-2.224-1.616-2.928-3.376-2.928-1.216 0-2.432.384-3.376 1.216l.768 1.36c.656-.608 1.424-.912 2.256-.912 1.024 0 1.696.512 1.696 1.296v1.04c-.512-.608-1.424-.944-2.448-.944-1.232 0-2.688.688-2.688 2.496 0 1.728 1.456 2.56 2.688 2.56 1.008 0 1.92-.368 2.448-.992v.8h2.032zm-3.664-1.184c-.8 0-1.456-.416-1.456-1.136 0-.752.656-1.168 1.456-1.168.656 0 1.296.224 1.632.672v.96c-.336.448-.976.672-1.632.672zM49.846 77v-5.104c.336-.496 1.232-.88 1.904-.88.224 0 .416.016.56.048V69.08c-.96 0-1.92.56-2.464 1.248v-1.056h-2.032V77h2.032zm15.36 0v-5.584c0-1.584-.848-2.336-2.272-2.336-1.184 0-2.208.704-2.656 1.408-.288-.88-1.008-1.408-2.144-1.408-1.184 0-2.208.736-2.528 1.2v-1.008h-2.032V77h2.032v-5.2c.304-.432.896-.912 1.6-.912.832 0 1.152.512 1.152 1.232V77h2.048v-5.216c.288-.416.88-.896 1.6-.896.832 0 1.152.512 1.152 1.232V77h2.048z'/%3E%3C/g%3E%3C/svg%3E");
	}
	.hot {
		background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='90' height='90' fill='%23F05910' rx='2'/%3E%3Cpath fill='%23000' d='M28.576 27.586c-.215.13-.382.232-.544.326-.793.46-1.353.69-1.745.697-.346.006-.543-.173-.68-.784-.048-.205.016-.29.353-.402.417-.138 1.074-.186 1.89-.148.347.016.712.047 1.086.09l-.36.22zm4.362-.67l-2.076-.43c-.06-.01-.172-.033-.323-.06-.252-.046-.528-.09-.82-.133-.623-.09-1.238-.153-1.816-.18-.946-.044-1.727.013-2.31.206-.857.283-1.323.905-1.12 1.766.247 1.115.9 1.706 1.836 1.687.65-.013 1.35-.3 2.307-.854.17-.1.345-.205.568-.342 1.212-.743 1.398-.85 1.75-.97l2.003-.692z'/%3E%3Cpath fill='%23F48E00' d='M28.576 27.586c-.215.13-.382.232-.544.326-.793.46-1.353.69-1.745.697-.346.006-.543-.173-.68-.784-.048-.205.016-.29.353-.402.417-.138 1.074-.186 1.89-.148.347.016.712.047 1.086.09l-.36.22z'/%3E%3Cpath fill='%23000' d='M31.257 32.013l-1.85.993c-.136.073-.37.203-.666.38-.494.296-.99.616-1.454.95-.62.443-1.136.878-1.522 1.3-.914.996-1.122 2.006-.165 2.71 1.003.742 1.944.698 2.654-.066.47-.504.782-1.205 1.178-2.42l.29-.905c.185-.56.323-.91.46-1.138l1.075-1.804z'/%3E%3Cpath fill='%23F58F00' d='M28.325 35.498c-.343 1.054-.61 1.653-.924 1.99-.29.312-.564.325-1.11-.078-.233-.172-.18-.43.332-.988.323-.353.784-.74 1.343-1.14.18-.13.364-.256.552-.38l-.192.596z'/%3E%3Cpath fill='%23000' d='M59.67 27.608c.35.12.532.224 1.75.962.222.136.398.24.57.34.954.548 1.654.832 2.303.846.936.02 1.588-.564 1.84-1.675.2-.855-.266-1.477-1.122-1.76-.583-.194-1.364-.25-2.31-.207-.578.027-1.193.09-1.815.18-.293.042-.57.087-.82.133-.15.027-.262.05-.323.06l-2.076.43 2.004.692z'/%3E%3Cpath fill='%23F58F00' d='M62.754 27.276c.816-.038 1.473.01 1.89.148.337.112.4.197.354.396-.137.604-.333.78-.68.772-.394-.008-.955-.236-1.75-.692-.16-.093-.33-.194-.545-.325l-.347-.21c.37-.042.733-.073 1.078-.09z'/%3E%3Cpath fill='%23000' d='M60.422 33.817c.137.23.275.577.46 1.138l.29.904c.396 1.215.71 1.916 1.178 2.42.71.764 1.65.808 2.655.067.957-.705.75-1.715-.165-2.712-.386-.42-.903-.856-1.522-1.3-.465-.333-.96-.653-1.455-.948-.297-.178-.53-.308-.666-.38l-1.85-.994 1.075 1.804z'/%3E%3Cpath fill='%23F58F00' d='M62.64 35.28c.558.402 1.02.79 1.342 1.142.512.558.565.816.332.988-.546.403-.82.39-1.11.078-.314-.337-.582-.936-.925-1.99-.027-.08-.117-.36-.193-.596.188.124.373.25.552.38z'/%3E%3Cg%3E%3Cpath fill='%23FFF' d='M33.536 20.713c-.672 0-.83.31-.87.622-.196 1.207 1.185 3.58 3.673 4.4l.59.194-.157.62c-.08.313-.118.585-.118.897l-2.053 20.94c-.395 2.258-.553 6.112.63 7.202 2.054 1.867 4.502 3.697 10.07 3.697 5.724 0 8.567-1.79 9.95-3.27 1.223-1.323 1.696-4.204 1.223-7.006-.514-2.997-2.448-20.707-2.527-21.486v-.077c0-.273-.04-.545-.12-.818l-.117-.507.475-.233c3.158-1.596 4.343-3.348 4.106-4.32-.118-.507-.71-.818-1.54-.818-1.38.04-1.46.39-1.815 1.48-.237.738-.474 1.634-1.264 2.53l-.433.544-.474-.467c-.63-.585-1.5-.897-2.37-.897H40.21c-.79 0-1.54.273-2.17.74l-.515.39-.434-.468c-.633-.7-1.106-1.44-1.5-2.024-.75-1.283-1.186-1.867-2.054-1.867z'/%3E%3Cpath fill='%23FFF' d='M33.536 20.713c-.672 0-.83.31-.87.622-.196 1.207 1.185 3.58 3.673 4.4l.59.194-.157.62c-.08.313-.118.585-.118.897l-2.25 22.303c-.04.428 5.527 0 11.054 0 5.566 0 11.133.39 11.094 0-.435-2.997-2.527-21.486-2.606-22.226v-.077c0-.273-.04-.545-.12-.818l-.117-.507.475-.233c3.158-1.596 4.343-3.348 4.106-4.32-.118-.507-.71-.818-1.54-.818-1.38.04-1.46.39-1.815 1.48-.237.738-.474 1.634-1.264 2.53l-.433.544-.474-.467c-.63-.585-1.5-.897-2.37-.897H40.21c-.79 0-1.54.273-2.17.74l-.515.39-.434-.468c-.633-.7-1.106-1.44-1.5-2.024-.75-1.283-1.186-1.867-2.054-1.867z'/%3E%3Cg fill='%23000' transform='translate(31.325 19)'%3E%3Cellipse cx='12.042' cy='13.156' rx='.671' ry='1.207'/%3E%3Cpath d='M17.53 13.156c0 .662-.276 1.207-.67 1.207-.357 0-.672-.545-.672-1.207 0-.66.276-1.206.67-1.206.396 0 .672.545.672 1.206zM6.91 35.304c0 .662-.277 1.207-.672 1.207-.355 0-.632-.544-.632-1.206 0-.66.277-1.206.632-1.206s.67.545.67 1.206zM22.78 34.565c0 .66-.275 1.206-.67 1.206-.355 0-.67-.544-.67-1.205 0-.662.275-1.207.67-1.207.355 0 .67.545.67 1.207zM25.82 31.762c-4.026-.817-19.148-1.13-23.45 0l-.356-1.284c4.54-1.168 19.82-.857 24.044 0l-.237 1.284z'/%3E%3Cpath d='M13.977 41.57c-6.08 0-8.844-2.1-10.976-4.047-2.092-1.907-1.144-7.707-1.026-8.33L4.027 8.37c0-.196 0-.39.04-.585C1.382 6.655-.276 3.97.04 2.14.196 1.05 1.026.39 2.21.39c1.62 0 2.41 1.167 3.24 2.413.275.467.63.934 1.025 1.44.75-.428 1.58-.662 2.448-.662H19.11c.947 0 1.855.274 2.645.78.315-.545.473-1.05.63-1.557.357-1.13.712-2.375 3.002-2.453h.08c1.46 0 2.565.7 2.842 1.83.314 1.44-.673 3.62-4.384 5.605.04.194.04.39.04.584.08.894 2.013 18.488 2.487 21.368.553 3.23-.04 6.5-1.54 8.135-1.54 1.674-4.738 3.698-10.936 3.698zM2.21 1.714c-.67 0-.828.31-.868.622-.197 1.207 1.185 3.58 3.672 4.4l.592.194-.157.62c-.08.313-.12.585-.12.897l-2.053 20.94c-.395 2.258-.553 6.112.632 7.202 2.052 1.867 4.5 3.697 10.067 3.697 5.725 0 8.567-1.79 9.95-3.27 1.223-1.323 1.697-4.204 1.223-7.006-.513-2.997-2.448-20.707-2.527-21.486v-.077c0-.273-.04-.545-.118-.818l-.12-.507.475-.233c3.16-1.596 4.343-3.348 4.106-4.32-.118-.507-.71-.818-1.54-.818-1.38.04-1.46.39-1.816 1.48-.237.738-.474 1.634-1.263 2.53l-.434.544-.474-.467c-.633-.585-1.502-.897-2.37-.897H8.883c-.79 0-1.54.273-2.17.74l-.514.39-.436-.468c-.63-.7-1.105-1.44-1.5-2.024-.75-1.283-1.184-1.867-2.053-1.867z'/%3E%3Cpath d='M13.503 3.192c0 1.518-.12 2.063-.71 2.063-.593 0-.79-.623-.79-2.14 0-1.52.157-2.414.75-2.414.592-.038.75.935.75 2.492zM15.674 3.192c0 1.518-.118 2.063-.71 2.063-.593 0-.79-.623-.79-2.14 0-1.52.158-2.414.75-2.414.553-.038.75.935.75 2.492z'/%3E%3C/g%3E%3Cpath fill='%23000' d='M54.816 29.354c-.67 1.48-.79 3.27-1.066 4.865-.394 2.1-1.54 4.086-1.224 6.266.198 1.518.83 3.66 2.33 4.438 2.17 1.128 1.935 1.48 1.935 1.48l-1.974-17.05zM35.865 29.354c.67 1.48.79 3.27 1.066 4.865.396 2.1 1.54 4.086 1.225 6.266-.197 1.518-.83 3.66-2.33 4.438-2.17 1.128-1.974 1.48-1.974 1.48l2.015-17.05z'/%3E%3Cpath fill='%23F58F00' d='M47.022 28.5c.056-.027.115-.055.18-.084.448-.204.943-.408 1.47-.598 1.24-.446 2.47-.75 3.65-.852.27-.023.536-.035.797-.035 1.294 0 2.666.13 4.036.346.478.075.92.156 1.32.237.244.05.42.088.52.11l.854.203.16 2.77-.972.958c.14-.137.146-.15.146-.152-.026.09-.437 2.082-.656 2.847-.386 1.343-.883 2.376-1.622 3.104-1.836 1.81-6.423 2.154-8.348.946-1.414-.86-2.782-3.57-3.1-5.546-.037-.224-.06-.44-.068-.64l-.002-.152v-.78h1.177l-.827.84c.113.11.146.124.14.123-.09-.02-.215-.03-.35-.033-.094 0-.116 0-.138.002-.136.004-.264.02-.36.04-.002 0 .03-.013.15-.132l-.826-.84h1.177v.78c0 .05 0 .1-.002.15-.008.2-.033.416-.07.642-.33 1.946-1.714 4.678-3.098 5.546-1.978 1.204-6.512.864-8.337-.935-.755-.726-1.256-1.77-1.645-3.143-.207-.733-.596-2.624-.642-2.81-.33-.326-.343-.338-.448-.44l-.38-.376.16-2.767.85-.205c.1-.023.275-.062.516-.112.396-.08.837-.16 1.313-.237 1.364-.215 2.74-.345 4.053-.345.26 0 .527.013.798.036 1.177.1 2.41.406 3.647.852.53.19 1.023.394 1.472.598l.187.086c.91-.164 2.21-.172 3.118-.003z'/%3E%3Cpath fill='%23000' d='M43.76 29.743s-3.118-1.635-5.96-1.635c-2.843 0-5.607.662-5.607.662l-.08 1.362.594.584c.394.39.552 4.282 2.132 5.8 1.578 1.557 5.565 1.596 6.908.778 1.303-.817 2.606-3.97 2.606-5.332v-.78c.316-.31 1.855-.35 2.21 0v.78c0 1.4 1.264 4.515 2.607 5.332 1.303.818 5.33.78 6.91-.778 1.58-1.557 1.737-5.41 2.132-5.8l.592-.584-.08-1.362s-2.802-.662-5.605-.662c-2.844 0-5.963 1.635-5.963 1.635-.79-.272-2.645-.233-3.396 0zm3.262-1.244c.056-.027.115-.055.18-.084.448-.204.943-.408 1.47-.598 1.24-.446 2.47-.75 3.65-.852.27-.023.536-.035.797-.035 1.294 0 2.666.13 4.036.346.478.075.92.156 1.32.237.244.05.42.088.52.11l.854.203.16 2.77-.972.958c.14-.137.146-.15.146-.152-.026.09-.437 2.082-.656 2.847-.386 1.343-.883 2.376-1.622 3.104-1.836 1.81-6.423 2.154-8.348.946-1.414-.86-2.782-3.57-3.1-5.546-.33 1.946-1.714 4.678-3.098 5.546-1.978 1.204-6.512.864-8.337-.935-.755-.726-1.256-1.77-1.645-3.143-.207-.733-.596-2.624-.642-2.81-.33-.326-.343-.338-.448-.44l-.38-.376.16-2.767.85-.205c.1-.023.275-.062.516-.112.396-.08.837-.16 1.313-.237 1.364-.215 2.74-.345 4.053-.345.26 0 .527.013.798.036 1.177.1 2.41.406 3.647.852.53.19 1.023.394 1.472.598l.187.086c.91-.164 2.21-.172 3.118-.003z'/%3E%3Cpath fill='%23000' d='M43.05 30.18c-.083-.044-.236-.12-.447-.215-.35-.16-.737-.317-1.15-.465-.984-.353-1.96-.59-2.882-.66-.18-.015-.36-.022-.533-.022-1.024 0-2.057.104-3.05.278-.347.06-.665.125-.947.19-.17.04-.292.07-.358.09l-.287.078.04.295.043.327.096.72c.072.548.12.907.137 1.02-.032-.138.323 1.592.484 2.164.284 1.01.645 1.77 1.155 2.273 1.266 1.25 4.636 1.5 6.02.672 1.094-.678 2.26-3.237 2.26-4.613v-.623l-.018-.107-.438-1.338-.123-.065z'/%3E%3Cpath fill='%233D3D3D' d='M42.946 31.744v.568c0 1.157-1.062 3.492-1.93 4.03-1.124.673-4.15.447-5.188-.575-.407-.4-.722-1.066-.977-1.97-.152-.545-.503-2.252-.47-2.108l-.128-.97-.098-.733c0-.01-.002-.017-.003-.026.015-.002.03-.005.044-.01.27-.06.576-.124.91-.182.957-.167 1.952-.268 2.933-.268.157 0 .317.007.482.02.85.064 1.772.288 2.703.622.395.142.764.293 1.098.445.12.053.217.1.293.137l.333 1.02z'/%3E%3Cpath fill='%23000' d='M47.33 31.65v.623c0 1.376 1.164 3.935 2.253 4.61 1.34.833 4.72.58 6.022-.665.507-.5.865-1.252 1.148-2.253.163-.573.505-2.228.488-2.156.022-.125.07-.48.143-1.023l.004-.033.094-.718.044-.327.038-.295-.286-.08c-.066-.017-.188-.048-.358-.087-.282-.066-.6-.13-.947-.19-.992-.175-2.025-.28-3.05-.28-.2 0-.41.01-.622.03-.88.08-1.816.313-2.76.653-.41.15-.795.308-1.144.466-.21.096-.364.17-.448.215l-.118.063-.48 1.332-.02.115z'/%3E%3Cpath fill='%233D3D3D' d='M48.38 30.687c.076-.037.175-.084.296-.14.333-.15.7-.302 1.094-.444.893-.322 1.774-.542 2.59-.615.192-.018.38-.026.56-.026.982 0 1.977.1 2.933.267.335.057.64.12.91.183l.045.01-.003.024-.095.717-.004.034c-.07.528-.12.886-.133.973.017-.072-.322 1.564-.477 2.11-.253.896-.566 1.554-.966 1.948-1.07 1.02-4.104 1.248-5.187.576-.87-.54-1.932-2.874-1.932-4.03v-.564l.37-1.023z'/%3E%3C/g%3E%3Cpath fill='%23000' d='M43.012 78V67.328h-2.288v4.192h-5.04v-4.192h-2.272V78h2.272v-4.48h5.04V78h2.288zm5.632.192c2.56 0 4.096-1.856 4.096-4.064 0-2.192-1.536-4.048-4.096-4.048-2.544 0-4.08 1.856-4.08 4.048 0 2.208 1.536 4.064 4.08 4.064zm0-1.808c-1.264 0-1.968-1.04-1.968-2.256 0-1.2.704-2.24 1.968-2.24s1.984 1.04 1.984 2.24c0 1.216-.72 2.256-1.984 2.256zm8.192 1.808c.848 0 1.392-.224 1.696-.496L58.1 76.16c-.112.112-.4.224-.704.224-.448 0-.704-.368-.704-.848v-3.488h1.568v-1.776h-1.568V68.16h-2.048v2.112h-1.28v1.776h1.28v4.032c0 1.376.768 2.112 2.192 2.112z'/%3E%3C/g%3E%3C/svg%3E");
	}
}
.cow-selector input:active +.cowcard {
	opacity: .9;
}
.cow-selector input:checked +.cowcard {
	filter: none;
	outline: 1px solid #000;
}
.cowcard {
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 91px;
	height: 91px;
	margin: 4px 20px;
	transition: all 100ms ease-in;
	filter: grayscale(1) opacity(.7);
}
.cowcard:hover,
.cow-selector input:invalid +.cowcard {
	filter: none;
}
.cowcard:hover {
	outline: 1px solid #000;
}
comfort {
	p,
	div,
	h3 {
		text-align: center;
	}
	h3 {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		max-width: 310px;
		margin: 40px auto 20px auto;
		text-align: left;
		@media (max-width: 400px) {
			margin: 20px auto 20px;
		}
	}
	.opacity-08 {
		opacity: 0.8;
	}
	.recent-selector {
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #000000;
		padding-top: 21px;
	}
	select.activity,
	select.activitySelected {
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		width: 310px;
		height: 45px;
		background-color: #ffffff;
		border: solid 1px #d6d6d6;
		font-size: 16px;
		border-radius: 0;
		option {
			padding-left: 15px !important;
		}
		&.ng-pristine {
			color: #7f7f7f !important;
		}
	}
	select:hover {
		outline: 1px solid #000;
	}
	select.activitySelected {
		background: #fff url(assets/images/check.svg) no-repeat 98% center;
		border: 2px solid #94BE3D;
	}
	select.started,
	select.startedSelected {
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		width: 100px;
		height: 35px;
		background-color: #ffffff;
		border: solid 1px #d6d6d6;
		font-size: 14px;
		border-radius: 0;
		option {
			padding-left: 15px !important;
		}
		&.ng-pristine {
			color: #7f7f7f !important;
		}
	}
	select.startedSelected {
		border: 2px solid #94BE3D;
	}
	button {
		cursor: pointer;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-weight: bold;
		&.green {
			width: 100%;
			max-width: 310px;
			height: 55px;
			color: white;
			background-color: #94be3d;
			border: solid 1px #000000;
			border-radius: 1px;
		}
		&:hover {
			background-color: #353433;
		}
		&:disabled {
			background-color: #efefef;
			border: none;
			color: #ababab;
			cursor: default;
		}
		margin-top: 21px;
		margin-bottom: 60px;
	}
	.satisfaction {
		font-size: 14px;
		line-height: 22px;
		max-width: 310px;
		margin: 25px auto;
		text-align: left;
		color: #323130;
	}
	.satisfaction-options {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		font-size: 16px;
	}
	[type="checkbox"] {
		margin-right: 2px;
	}
	.checkbox {
		position: relative;
		height: 21px;
		line-height: 21px;
		display: block;
		cursor: pointer;
	}
	.checkbox input {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		height: 16px;
		width: 16px;
	}
	.checkbox span:before {
		content: '';
		padding: 0px;
		display: inline-block;
		height: 16px;
		width: 16px;
		border: solid 1px #7f7f7f;
		border-radius: 0;
		font-size: 14px;
		vertical-align: middle;
	}
	.checkbox input + span:before {
		color: white;
		background-color: white;
		margin-right: 6px;
	}
	.checkbox input:checked + span:before {
		background: url(assets/images/checkBox.svg) no-repeat center center;
	}
	.checkbox input + span {
		font-size: 15px;
		color: #7f7f7f;
	}
	.checkbox input:checked + span {
		color: black;
		font-weight: 600;
		font-size: 14px;
	}
}
