<form #comfortForm="ngForm" (ngSubmit)="save(comfortForm.value, comfortForm.valid)" novalidate>
	<h3>How does it feel in {{feedback.building}}?</h3>
	<div class="cow-selector">
		<input id="cold" type="radio" value="cold" name="comfort" required [(ngModel)]="comfortPage.comfort" #comfort="ngModel" />
		<label class="cowcard cold" for="cold"></label>
		<input id="chilly" type="radio" value="chilly" name="comfort" required [(ngModel)]="comfortPage.comfort" #comfort="ngModel" />
		<label class="cowcard chilly" for="chilly"></label>
		<br>
		<input id="perfect" type="radio" value="perfect" name="comfort" required [(ngModel)]="comfortPage.comfort" #comfort="ngModel" />
		<label class="cowcard perfect" for="perfect"></label>
		<br>
		<input id="warm" type="radio" value="warm" name="comfort" required [(ngModel)]="comfortPage.comfort" #comfort="ngModel" />
		<label class="cowcard warm" for="warm"></label>
		<input id="hot" type="radio" value="hot" name="comfort" required [(ngModel)]="comfortPage.comfort" #comfort="ngModel" />
		<label class="cowcard hot" for="hot"></label>
	</div>
	<div class="satisfaction">Choose <b>how satisfied you are</b> with temperatures on campus:
		<div class="satisfaction-options" id="satisfaction">
			<label class="checkbox" for="dissatisfied">
				<input type="radio" id="dissatisfied" value="dissatisfied" name="satisfaction" (click)="unselect($event)" [(ngModel)]="comfortPage.satisfaction" #satisfaction="ngModel"> <span>dissatisfied</span>
			</label>
			<label class="checkbox" for="neutral">
				<input type="radio" id="neutral" value="neutral" name="satisfaction" (click)="unselect($event)" [(ngModel)]="comfortPage.satisfaction" #satisfaction="ngModel">
				<span>neutral</span>
			</label>
			<label class="checkbox" for="satisfied">
				<input type="radio" id="satisfied" value="satisfied" name="satisfaction" (click)="unselect($event)" [(ngModel)]="comfortPage.satisfaction" #satisfaction="ngModel">
				<span>satisfied</span>
			</label>
		</div>
	</div>
	<div>
		<button class="green" type="submit" [disabled]="!comfortForm.valid">Continue</button>
	</div>
</form>
