<div class="review">
	<div class="feedback-summary">
		<div class="comfort-icon" aria-label="Joules the Cow - Your Feedback" rol="img" aria-labelledby="title desc" [inlineSVG]="comfortIconUrl"></div>
		<div>
			<p>{{feedback.building}}: Room {{feedback.room}}</p>
			<p>It's {{feedback.comfort}}</p>
			<p *ngIf="feedback.activity">{{rewordedActivity}} activity</p>
			<p *ngIf="feedback.satisfaction">Satisfaction: {{feedback.satisfaction}}</p>
		</div>
	</div>
	<form #commentsForm="ngForm" (ngSubmit)="save(commentsForm.value, commentsForm.valid)" novalidate>

		<div class="clothing-section">
			<p>Which best describes your <b>level of clothing</b>?</p>
			<div class="clothing-options" id="clothing">
				<label class="clothing light {{feedback.comfort}}" for="light">
					<input type="radio" id="light" value="light" name="light" [(ngModel)]="commentsPage.clothing" #clothing="ngModel" (click)="unselect($event)"><span class="light {{feedback.comfort}}"></span>
				</label>
				<label class="clothing normal {{feedback.comfort}}" for="normal">
					<input type="radio" id="normal" value="normal" name="normal" [(ngModel)]="commentsPage.clothing" #clothing="ngModel" (click)="unselect($event)"><span class="normal {{feedback.comfort}}"></span>
				</label>
				<label class="clothing heavy {{feedback.comfort}}" for="heavy">
					<input type="radio" id="heavy" value="heavy" name="heavy" [(ngModel)]="commentsPage.clothing" #clothing="ngModel" (click)="unselect($event)"><span class="heavy {{feedback.comfort}}"></span>
				</label>
			</div>
			<div class="clothing-description {{commentsPage.clothing}}">
				<b>{{commentsPage.clothing}}</b>
				<div *ngIf="commentsPage.clothing=='light'">(e.g. T-shirt and shorts)</div>
				<div *ngIf="commentsPage.clothing=='normal'">(e.g. business attire)</div>
				<div *ngIf="commentsPage.clothing=='heavy'">(e.g. multiple layers)</div>
			</div>
		</div>

		<div class="activity-section">
			<p>Choose your level of <b>physical activity in the <br />last 10 minutes</b>:</p>
			<div class="activity-options" id="activity">
				<label class="checkbox" for="inactive">
					<input type="radio" id="inactive" value="inactive" name="inactive" [(ngModel)]="commentsPage.activity" #activity="ngModel" (click)="unselect($event)"> <span>inactive</span>
				</label>
				<label class="checkbox" for="active">
					<input type="radio" id="active" value="active" name="active" [(ngModel)]="commentsPage.activity" #activity="ngModel" (click)="unselect($event)">
					<span>active</span>
				</label>
			</div>
		</div>

		<div class="comment-section">
			<textarea id="comment" [class]="getComment()" name="comment" [(ngModel)]="commentsPage.comment" #comment="ngModel" placeholder="Any comments to add?" autocomplete="off"></textarea>
		</div>

		<div class="submit-section">
			<button class="green" type="submit">Submit my feedback!</button>
		</div>
		<div class="email-section">
			<label class="checkbox" for="emailConfirmation">
				<input type="checkbox" id="emailConfirmation" name="emailConfirmation" [(ngModel)]="commentsPage.emailConfirmation" #emailConfirmation="ngModel">
				<span>Please send me an email confirmation</span>
			</label>
		</div>
	</form>
</div>
