survey {
	background: white !important;
}
.menu-wrapper {
	@media (max-width: 768px) {
		height: 45px !important;
		background-color: #E4E4E4 !important;
	}
}
h2 {
	font-size: 16px;
}
h2,
.satisfaction-section,
.comment-section {
	text-align: center;
}
.feedback-summary {
	display: flex;
	align-items: center;
	margin: 30px 45px;
	font-size: 14px;
	color: #7f7f7f;
	text-align: left;
	.comfort-icon {
		height: 70px;
		width: 70px;
		margin-right: 34px;
	}
	p {
		line-height: 0.9;
	}
	@media (max-width: 400px) {
		margin: 10px 5% 20px;
	}
	@media (max-width: 340px) {
		margin: 10px 2% 20px;
	}
}
.comment-section,
.satisfaction-section,
.submit-section,
.clothing-section,
.activity-section,
.email-section {
	h2 {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}
	font-family: ProximaNova,
	Arial,
	Helvetica,
	sans-serif;
	font-size: 14px;
	margin: 30px 45px 0px;
	text-align: left;
	color: #323130;
	@media (max-width: 400px) {
		margin: 10px 5% 20px;
	}
	@media (max-width: 340px) {
		margin: 10px 2% 20px;
	}
}
.clothing-section {
	max-width: 330px;
	.clothing-options {
		display: flex;
		justify-content: space-between;
		padding-top: 6px;
	}
	.clothing {
		position: relative;
		height: 96px;
		line-height: 96px;
		display: block;
		cursor: pointer;
		transition: all 100ms ease-in;
	}
	.clothing input {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		height: 96px;
		width: 96px;
	}
	.clothing span:before {
		content: '';
		display: inline-block;
		height: 96px;
		width: 96px;
		vertical-align: middle;
	}
	.clothing.light span:before {
		background: url(assets/images/clothing-icons/grey-light.svg) no-repeat center center;
	}
	.clothing.normal span:before {
		background: url(assets/images/clothing-icons/grey-normal.svg) no-repeat center center;
	}
	.clothing.heavy span:before {
		background: url(assets/images/clothing-icons/grey-heavy.svg) no-repeat center center;
	}
	.clothing input:hover + span:before,
	.clothing input:checked + span:before {
		transition: all 100ms ease-in;
		outline: 1px black solid;
		outline-offset: -1px;
	}
	//Cold
	.clothing.light.cold input:hover + span:before,
	.clothing.light.cold input:checked + span:before {
		background: url(assets/images/clothing-icons/cold-unselected-light.svg) no-repeat center center;
	}
	.clothing.normal.cold input:hover + span:before,
	.clothing.normal.cold input:checked + span:before {
		background: url(assets/images/clothing-icons/cold-unselected-normal.svg) no-repeat center center;
	}
	.clothing.heavy.cold input:hover + span:before,
	.clothing.heavy.cold input:checked + span:before {
		background: url(assets/images/clothing-icons/cold-unselected-heavy.svg) no-repeat center center;
	}
	//Chilly
	.clothing.light.chilly input:hover + span:before,
	.clothing.light.chilly input:checked + span:before {
		background: url(assets/images/clothing-icons/chilly-unselected-light.svg) no-repeat center center;
	}
	.clothing.normal.chilly input:hover + span:before,
	.clothing.normal.chilly input:checked + span:before {
		background: url(assets/images/clothing-icons/chilly-unselected-normal.svg) no-repeat center center;
	}
	.clothing.heavy.chilly input:hover + span:before,
	.clothing.heavy.chilly input:checked + span:before {
		background: url(assets/images/clothing-icons/chilly-unselected-heavy.svg) no-repeat center center;
	}
	//Perfect
	.clothing.light.perfect input:hover + span:before,
	.clothing.light.perfect input:checked + span:before {
		background: url(assets/images/clothing-icons/perfect-unselected-light.svg) no-repeat center center;
	}
	.clothing.normal.perfect input:hover + span:before,
	.clothing.normal.perfect input:checked + span:before {
		background: url(assets/images/clothing-icons/perfect-unselected-normal.svg) no-repeat center center;
	}
	.clothing.heavy.perfect input:hover + span:before,
	.clothing.heavy.perfect input:checked + span:before {
		background: url(assets/images/clothing-icons/perfect-unselected-heavy.svg) no-repeat center center;
	}
	//Warm
	.clothing.light.warm input:hover + span:before,
	.clothing.light.warm input:checked + span:before {
		background: url(assets/images/clothing-icons/warm-unselected-light.svg) no-repeat center center;
	}
	.clothing.normal.warm input:hover + span:before,
	.clothing.normal.warm input:checked + span:before {
		background: url(assets/images/clothing-icons/warm-unselected-normal.svg) no-repeat center center;
	}
	.clothing.heavy.warm input:hover + span:before,
	.clothing.heavy.warm input:checked + span:before {
		background: url(assets/images/clothing-icons/warm-unselected-heavy.svg) no-repeat center center;
	}
	//Hot
	.clothing.light.hot input:hover + span:before,
	.clothing.light.hot input:checked + span:before {
		background: url(assets/images/clothing-icons/hot-unselected-light.svg) no-repeat center center;
	}
	.clothing.normal.hot input:hover + span:before,
	.clothing.normal.hot input:checked + span:before {
		background: url(assets/images/clothing-icons/hot-unselected-normal.svg) no-repeat center center;
	}
	.clothing.heavy.hot input:hover + span:before,
	.clothing.heavy.hot input:checked + span:before {
		background: url(assets/images/clothing-icons/hot-unselected-heavy.svg) no-repeat center center;
	}
	.clothing-description {
		position: relative;
		text-align: center;
		top: 10px;
		&.light {
			right: 105px;
		}
		&.heavy {
			left: 108px;
		}
		@media (max-width: 340px) {
			font-size: 11px;
			b {
				font-size: 14px;
			}
		}
	}
}
.satisfaction-section {
	margin-top: 40px;
	p {
		max-width: 310px;
		margin: 0 auto;
		color: #323130;
	}
	select {
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		width: 90%;
		max-width: 310px;
		height: 45px;
		background-color: #ffffff;
		font-size: 16px;
		border-radius: 0;
		margin-top: 20px;
		&:hover {
			outline: 1px solid #000;
		}
		option {
			padding-left: 15px !important;
		}
		&.ng-pristine {
			color: #7f7f7f !important;
		}
	}
	.satisfaction {
		border: solid 1px #d6d6d6;
	}
	.satisfactionSelected {
		background: #fff url(assets/images/checkBox.svg) no-repeat 98% center;
		border: 2px solid #94BE3D;
	}
}
.comment-section {
	textarea {
		width: 93%;
		max-width: 310px;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		&:hover {
			outline: 1px solid #000;
		}
	}
	.comment,
	.commentAdded {
		height: 45px;
		border: solid 1px #d6d6d6;
		font-size: 14px;
		padding: 10px;
	}
	.commentAdded {
		background: #fff url(assets/images/check.svg) no-repeat 98% bottom;
		border: 2px solid #94BE3D;
	}
}
.submit-section {
	margin-top: 40px;
	text-align: center;
	max-width: 330px;
	button {
		cursor: pointer;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 16px;
		width: 100%;
		max-width: 310px;
		height: 55px;
		color: white;
		background-color: #94be3d;
		border: solid 1px #000000;
		border-radius: 2px;
		margin: 0 auto;
		letter-spacing: 0.6px;
		&:hover {
			background-color: #353433;
		}
	}
}
.email-section,
.activity-section {
	line-height: 20px;
	.activity-options {
		display: flex;
		max-width: 360px;
		label {
			margin-right: 33px;
		}
	}
	[type="checkbox"] {
		margin-right: 2px;
	}
	.checkbox {
		position: relative;
		height: 21px;
		line-height: 21px;
		display: block;
		cursor: pointer;
	}
	.checkbox input {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		height: 16px;
		width: 16px;
	}
	.checkbox span:before {
		content: '';
		padding: 0px;
		display: inline-block;
		height: 16px;
		width: 16px;
		border: solid 1px #7f7f7f;
		border-radius: 0;
		font-size: 14px;
		vertical-align: middle;
	}
	.checkbox input + span:before {
		color: white;
		background-color: white;
		margin-right: 6px;
	}
	.checkbox input:checked + span:before {
		background: url(assets/images/checkBox.svg) no-repeat center center;
	}
	.checkbox input + span {
		font-size: 15px;
		color: #7f7f7f;
	}
	.checkbox input:checked + span {
		color: black;
		font-weight: 600;
		font-size: 14px;
	}
}
