@font-face {
	font-family: 'ProximaNova';
	src: url('assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/ProximaNova-Regular.woff2') format('woff2'), url('assets/fonts/ProximaNova-Regular.woff') format('woff'), url('assets/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/ProximaNova-Bold.woff2') format('woff2'), url('assets/fonts/ProximaNova-Bold.woff') format('woff'), url('assets/fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
}
@import "~normalize-scss";
@include normalize();
//@import "~leaflet/dist/leaflet";
//TODO: Figure out the best way to import leaflet css
html {
	font-family: ProximaNova, Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
span.active {
	background-color: gray;
}
.wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
	flex-direction: column;
}
main {
	display: flex;
	height: 100%;
	width: 100%;
	map,
	survey {
		height: 100%;
		width: 400px;
		flex-shrink: 0;
		z-index: 1;
		box-shadow: 2px 0 3px #9D9D9D;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		@media (max-width: 768px) {
			width: 100%;
			box-shadow: none;
		}
		comments {
			display: flex;
			flex-direction: column;
			align-self: center;
			width: 100%;
			max-width: 400px;
		}
	}
	map {
		z-index: 0;
		flex-grow: 2;
		flex-basis: auto;
		@media (max-width: 768px) {
			display: none;
		}
	}
}
