<div *ngIf="mapVisible.overlay" class="map-overlay" (click)="close()"></div>

<div *ngIf="mapVisible.ceed" class="ceed-message">
	<div class="how">How does your building use energy?</div>
	<div class="usage-graph">
		<div class="percent-background">
			<div class="percent-green"></div>
		</div>
		<div class="percent-text">20% for plug loads/lighting</div>
		<div class="percent-background">
			<div class="percent-orange"></div>
		</div>
		<div class="percent-text">50% for heating</div>
		<div class="percent-background">
			<div class="percent-blue"></div>
		</div>
		<div class="percent-text">30% for cooling</div>
	</div>
	<div class="look-text">Take a look at the campus energy use on our dashboard.</div>
	<button *ngIf="mapClosable" (click)="sendToCEED()" aria-label="Navigate to CEED" class="explore-button">I'm ready to explore</button>
	<button *ngIf="mapClosable" (click)="close()" aria-label="Close" class="modal_close-btn">&times;</button>
</div>

<div *ngIf="mapVisible.trimWaste" class="trim-waste">
	<img src="/assets/images/summary/trimWaste.png" class="joules-trim" />
	<button *ngIf="mapClosable" (click)="sendToTrimWaste()" aria-label="Navigate to Trim the Waste" class="find-energy-button">Find energy waste in YOUR building!</button>
	<button *ngIf="mapClosable" (click)="close()" aria-label="Close" class="modal_close-btn">&times;</button>
</div>

<div *ngIf="mapVisible.coolBuilding" class="building">
	<img src="/assets/images/summary/coolestBuilding.png" class="building-graphic" />
	<div class="building-text">What's the coolest building <b>this quarter?</b></div>
	<button *ngIf="mapClosable" (click)="close()" aria-label="Close" class="building-explore-button">Explore the map!</button>
	<button *ngIf="mapClosable" (click)="close()" aria-label="Close" class="modal_close-btn">&times;</button>
</div>
