.map-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 400px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
.modal_close-btn {
	color: black;
	float: right;
	font-size: 20px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	position: absolute;
	top: 6px;
	right: 10px;
}
.modal_close-btn:hover,
.modal_close-btn:focus {
	color: #f05910;
	text-decoration: none;
	cursor: pointer;
}
.ceed-message {
	max-width: 750px;
	height: 429px;
	background-image: url("/assets/images/chem-annex.jpg");
	border: solid 1px #979797;
	z-index: 1000;
	position: fixed;
	right: 0;
	left: 400px;
	top: 150px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	background-color: #d8d8d8;
	text-align: center;
	color: #323130;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
	.how {
		width: 359px;
		height: 88px;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-size: 36px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #000000;
		text-align: left;
		padding-top: 127px;
		float: left;
		margin-left: 68px;
	}
	.usage-graph {
		height: 129px;
		width: 186px;
		background-color: transparent;
		float: right;
		margin-top: 111px;
		margin-right: 73px;
	}
	.percent-background {
		width: 186px;
		height: 12px;
		background-color: #ffffff;
		border: solid 1px #494949;
	}
	.percent-text {
		height: 14px;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.5px;
		color: #494949;
		text-align: left;
		margin-left: 1px;
		margin-top: 4px;
		margin-bottom: 17px;
	}
	.percent-green {
		width: 48.5px;
		height: 12px;
		background-color: #98bf47;
	}
	.percent-orange {
		width: 93px;
		height: 12px;
		background-color: #f89400;
	}
	.percent-blue {
		width: 65.2px;
		height: 12px;
		background-color: #00a9ca;
	}
	.look-text {
		float: left;
		margin-left: 68px;
		margin-top: 87px;
		text-align: left;
		width: 216px;
		height: 42px;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		color: #000000;
	}
	.explore-button {
		cursor: pointer;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-weight: bold;
		width: 277px;
		height: 53.4px;
		border-radius: 0.7px;
		border: solid 1px #000000;
		font-weight: bold;
		font-size: 100%;
		color: white;
		background-color: #94bc46;
		float: right;
		margin-top: 56px;
		margin-right: 68px;
		&:hover {
			background-color: #353433;
		}
	}
}
.trim-waste {
	max-width: 750px;
	height: 429px;
	border: solid 1px #979797;
	z-index: 1000;
	position: fixed;
	right: 0;
	left: 400px;
	top: 150px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	background-color: #fff;
	text-align: center;
	color: #323130;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
	.joules-trim {
		margin-top: 30px;
	}
	.find-energy-button {
		position: absolute;
		bottom: 47.6px;
		left: 210px;
		cursor: pointer;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-weight: bold;
		width: 330.4px;
		height: 53.4px;
		border-radius: 0.7px;
		border: solid 1px #000000;
		font-weight: bold;
		font-size: 100%;
		color: black;
		background-color: #94bc46;
		&:hover {
			background-color: #353433;
			color: white;
		}
	}
}
.building {
	max-width: 750px;
	height: 429px;
	border: solid 1px #979797;
	z-index: 1000;
	position: fixed;
	right: 0;
	left: 400px;
	top: 150px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	background-color: #fff;
	text-align: center;
	color: #323130;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
	.building-graphic {
		margin-top: 60px;
	}
	.building-text {
		font-size: 32px;
		margin-top: 17px;
	}
	.building-explore-button {
		position: absolute;
		bottom: 47.6px;
		left: 225px;
		cursor: pointer;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-weight: bold;
		width: 300px;
		height: 53.4px;
		border-radius: 0.7px;
		border: solid 1px #000000;
		font-weight: bold;
		font-size: 100%;
		color: black;
		background-color: #94bc46;
		margin-top: 23px;
		&:hover {
			background-color: #353433;
			color: white;
		}
	}
}
