<div class="others-section">
	<p>Thanks for your feedback in <b>{{feedback.building}}!</b>
		<br />Here's what others are saying about your building:</p>
</div>
<div class="quarter-section">
	<select class="select-quarter" name="qrtr" [(ngModel)]="selectQrtr" (change)="drawBars()">
		<option *ngFor="let qrtr of qrtrs" [value]="qrtr.name">
			{{qrtr.displayName}}
		</option>
	</select>
</div>
<div class="graph-section">
	<div class="graph-row cold">
		<span class="tooltip">{{getVotes(comfortValues.total,'')}} this quarter<br /><span class="t-cold">{{getVotes(comfortValues.cold, ' Cold ')}}</span></span>
		<div class="value">cold</div>
		<svg [attr.width]="svgParameters.coldWidth" height="7" xmlns="http://www.w3.org/2000/svg">
			<rect [attr.width]="svgParameters.coldWidth" height="7" />
		</svg>
		<div class="percent">{{getPercentage(comfortValues.cold)}}%</div>
	</div>
	<div class="graph-row chilly">
		<span class="tooltip">{{getVotes(comfortValues.total,'')}} this quarter<br /><span class="t-chilly">{{getVotes(comfortValues.chilly, ' Chilly ')}}</span></span>
		<div class="value">chilly</div>
		<svg [attr.width]="svgParameters.chillyWidth" height="7" xmlns="http://www.w3.org/2000/svg">
			<rect [attr.width]="svgParameters.chillyWidth" height="7" />
		</svg>
		<div class="percent">{{getPercentage(comfortValues.chilly)}}%</div>
	</div>
	<div class="graph-row perfect">
		<span class="tooltip">{{getVotes(comfortValues.total,'')}} this quarter<br /><span class="t-perfect">{{getVotes(comfortValues.perfect, ' Perfect ')}}</span></span>
		<div class="value">perfect</div>
		<svg [attr.width]="svgParameters.perfectWidth" height="7" xmlns="http://www.w3.org/2000/svg">
			<rect [attr.width]="svgParameters.perfectWidth" height="7" />
		</svg>
		<div class="percent">{{getPercentage(comfortValues.perfect)}}%</div>
	</div>
	<div class="graph-row warm">
		<span class="tooltip">{{getVotes(comfortValues.total,'')}} this quarter<br /><span class="t-warm">{{getVotes(comfortValues.warm, ' Warm ')}}</span></span>
		<div class="value">warm</div>
		<svg [attr.width]="svgParameters.warmWidth" height="7" xmlns="http://www.w3.org/2000/svg">
			<rect [attr.width]="svgParameters.warmWidth" height="7" />
		</svg>
		<div class="percent">{{getPercentage(comfortValues.warm)}}%</div>
	</div>
	<div class="graph-row hot">
		<span class="tooltip">{{getVotes(comfortValues.total,'')}} this quarter<br /><span class="t-hot">{{getVotes(comfortValues.hot, ' Hot ')}}</span></span>
		<div class="value">hot</div>
		<svg [attr.width]="svgParameters.hotWidth" height="7" xmlns="http://www.w3.org/2000/svg">
			<rect [attr.width]="svgParameters.hotWidth" height="7" />
		</svg>
		<div class="percent">{{getPercentage(comfortValues.hot)}}%</div>
	</div>
</div>
<div class="buttons-section">
	<a href={{this.moreFeedback}}>
		<img class="arrow-base" src='/assets/images/summary/arrow.svg' />
		<img class="arrow-hover" src='/assets/images/summary/arrow-hover.svg' /> Send more feedback!
	</a>
</div>
<div class="buttons-section">
	<a href="https://eco.ucdavis.edu/articles/campus-comfort" target="_blank" rel="noopener">What does your feedback tell us?</a>
</div>
<div class="work-order-section">
	<p><b>Looking to submit a work order?</b>
		<br>We use your feedback to crowdsource comfort trends on campus. If you are a <b>staff member</b> and have an issue that needs immediate attention, please <a href="https://aggiefacilities.tririga.com/">submit a work order</a>.</p>
</div>
<div class="energy-use">
	<h2>How does your building use energy?</h2>
	<p>Take a look at the campus energy use on our dashboard.</p>
	<a href="https://ceed.ucdavis.edu/">I'm ready to explore</a>
</div>
<div class="eco-logo">
	<a href="https://eco.ucdavis.edu/"><img src="/assets/images/facilities_energy_black.png"></a>
</div>
