$cold: #10788e;
$chilly: #5fc8e8;
$perfect: #94bc46;
$warm: #ef8e27;
$hot: #ec5a29;
$tie: #bcbcbc;
survey {
	background: white !important;
}
.menu-wrapper {
	@media (max-width: 768px) {
		height: 45px !important;
		background-color: #E4E4E4 !important;
	}
}
.thanks-section {
	padding-left: 40px;
	padding-right: 40px;
	display: flex;
	align-items: center;
	p {
		margin-left: 5px;
	}
}
.guide-intro-section,
.guide-section {
	padding-top: 80px;
	padding-left: 40px;
	padding-right: 40px;
}
.others-section {
	padding: 26px 12% 0px;
	line-height: 19px;
}
.buttons-section {
	display: flex;
	justify-content: space-around;
	padding: 8px 40px;
	.arrow-hover {
		display: none;
	}
	.arrow-base {
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: black;
		width: 310px;
		height: 42px;
		text-align: center;
		background: #FFF;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 20px;
		padding: auto;
		border: solid 1px #d6d6d6;
		&:hover {
			background: #e4e4e4;
			outline: 1px solid black;
			.arrow-hover {
				display: inline-block;
			}
			.arrow-base {
				display: none;
			}
		}
	}
	img {
		position: relative;
		right: 60px;
	}
}
.quarter-section {
	display: flex;
	justify-content: space-around;
}
select.select-quarter {
	font-family: ProximaNova, Arial, Helvetica, sans-serif;
	width: 310px;
	height: 45px;
	background-color: #ffffff;
	border: solid 1px #d6d6d6;
	font-size: 14px;
	border-radius: 0px;
	option {
		padding-left: 15px !important;
	}
	&.ng-pristine {
		color: #7f7f7f !important;
	}
	&:hover {
		outline: 1px solid #000;
	}
}
.work-order-section {
	padding: 6px 12%;
	line-height: 20px;
}
.graph-section {
	margin: 30px auto 26px;
	width: 240px;
	font-size: 12px;
	.graph-row {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		height: 16px;
		&.cold {
			rect {
				fill: $cold;
			}
		}
		&.chilly {
			rect {
				fill: $chilly;
			}
		}
		&.perfect {
			rect {
				fill: $perfect;
			}
		}
		&.warm {
			rect {
				fill: $warm;
			}
		}
		&.hot {
			rect {
				fill: $hot;
			}
		}
		.value {
			width: 45px;
			text-align: right;
			margin-right: 5px;
			font-weight: bold;
			height: 10px;
		}
		.percent {
			height: 10px;
		}
	}
	svg {
		padding-right: 5px;
	}
}
.graph-row {
	position: relative;
	display: inline-block;
}
.graph-row .tooltip {
	visibility: hidden;
	width: 120px;
	height: 36px;
	line-height: 18px;
	background-color: white;
	color: #000;
	text-align: left;
	border-radius: 0px;
	padding: 12px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.graph-row .tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-color: white transparent transparent transparent;
	border-style: solid;
	border-width: 5px;
}
.graph-row:hover .tooltip {
	visibility: visible;
}
.t-cold {
	font-weight: bolder;
	font-size: 14px;
	color: $cold;
}
.t-chilly {
	font-weight: bolder;
	font-size: 14px;
	color: $chilly;
}
.t-perfect {
	font-weight: bolder;
	font-size: 14px;
	color: $perfect;
}
.t-warm {
	font-weight: bolder;
	font-size: 14px;
	color: $warm;
}
.t-hot {
	font-weight: bolder;
	font-size: 14px;
	color: $hot;
}
p {
	font-size: 14px;
	padding: 0px;
}
.guide-anchor {
	text-decoration: none;
	color: black;
}
.guide-section {
	cursor: pointer;
	padding-top: 40px;
	display: flex;
	align-items: center;
	img {
		margin-right: 20px;
	}
	h3 {
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 0;
	}
	p {
		margin-top: 0;
		font-size: 16px;
		font-weight: bold;
		padding: 0;
	}
}
.wordmark-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.email-section {
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	input {
		width: 290px;
		height: 45px;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 16px;
		padding-left: 15px;
		margin: 0 auto;
	}
	button {
		cursor: pointer;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		width: 310px;
		height: 55px;
		color: white;
		background-color: #94be3d;
		border: solid 1px #000000;
		border-radius: 2px;
		letter-spacing: 0.6px;
		margin-top: 15px;
	}
}
.ceed-link-section {
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	p {
		padding: 0;
	}
	button {
		cursor: pointer;
		font-family: ProximaNova, Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
		width: 310px;
		height: 55px;
		color: #ababab;
		background-color: #efefef;
		border: solid 1px #000000;
		border-radius: 2px;
		letter-spacing: 0.6px;
	}
}
.energy-use {
	display: flex;
	visibility: hidden;
	height: 0px;
	@media (max-width: 768px) {
		height: auto;
		visibility: visible;
		padding: 40px 12% 60px;
		flex-direction: column;
		background-image: url("/assets/images/chem-annex.jpg");
		p {
			padding-bottom: 28px;
		}
		a {
			text-decoration: none;
			color: black;
			width: 270px;
			height: 42px;
			text-align: center;
			background: $perfect;
			cursor: pointer;
			font-size: 14px;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 20px;
			border: solid 1px black;
			align-self: center;
		}
	}
}
.eco-logo {
	display: flex;
	visibility: hidden;
	height: 0px;
	@media (max-width: 768px) {
		height: auto;
		visibility: visible;
		justify-content: center;
		padding: 40px;
		img {
			max-width: 200px;
		}
	}
}
