survey {
	@media (max-width: 768px) {
		background-image: url('assets/images/mobile-bg.jpg'), linear-gradient(168deg, rgba(249, 249, 249, 0.68), #f2f2f2); //fallback for browsers that do not support background-image: image()
		background-size: cover;
		background-position: bottom;
	}
}
survey-home {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.menu-wrapper {
	@media (max-width: 768px) {
		background-color: white !important;
	}
}
.logo {
	width: 90px;
	margin: 80px auto 26px auto;
}
.home {
	text-align: center;
	padding: 0 30px;
	@media (max-width: 768px) {
		font-weight: bold;
	}
}
.guest-work-order {
	font-size: 14px;
	color: #323130;
	text-align: left;
	max-width: 300px;
	margin: 25px auto 0 auto;
	a {
		color: #323130;
		font-weight: bold;
	}
}
.mobile-filler {
	flex-grow: 1;
}
p {
	&.home,
	&.guest {
		width: 260px;
		margin: 0 auto;
		line-height: 21px;
		font-size: 16px;
	}
}
.copyright {
	font-size: 12px;
	margin: 45px auto 0 auto;
	padding-bottom: 45px;
	max-width: 300px;
}
button {
	cursor: pointer;
	font-family: ProximaNova, Arial, Helvetica, sans-serif;
	font-weight: bold;
	&.green {
		width: 100%;
		max-width: 310px;
		height: 55px;
		color: white;
		background-color: #94be3d;
		border: solid 1px #000000;
		border-radius: 2px;
		margin-bottom: 33px;
		margin-top: 20px;
		letter-spacing: 0.6px;
	}
	&:hover {
		background-color: #353433;
	}
}
