<div class="logo" aria-label="TherMOOstat Logo" [inlineSVG]="'/assets/images/joules-logo.svg'"></div>
<p class="home">
	Too hot? Chilly? Perfect?
	<br>Your feedback helps us find energy waste in your building!
</p>
<div class="home">
	<a href="{{this.locUrl}}">
		<button class="green">Tell us how your room feels!</button>
	</a>
</div>
<div class="mobile-filler"></div>
<div class="guest-work-order">
	<p>Not a part of UC Davis? <a routerLink="/location">Continue as a guest.</a></p>
	<p>Have a critical issue to report? <a href="https://aggiefacilities.tririga.com/">Please submit a work order</a> through Facilities Management.</p>
	<p>Research is being conducted with TherMOOstat. By logging in, you consent to your submitted data being used in research.</p>
</div>
<div class="copyright">
	Copyright &copy; The Regents of the University of California, Davis campus. All rights reserved.
</div>
