<div [@dialog] *ngIf="mod.showDialog" [class]="mod.modalClass">
	<div class="modal-content" [innerHTML]="mod.modalText" [hidden]="mod.guest"></div>
	<div class="modal-content" [hidden]="!mod.guest"><img class="logo" aria-label="TherMOOstat Logo" src="/assets/images/joules-logo.svg">
		<br />
		<p>If you&#39;re not a part of UC Davis, we still want you to be able to experience TherMOOstat as a guest.</p>
		<p>Please note in the guest session we will not receive or act on your feedback. If you&#39;d like to share a comment, please contact us at <a href="mailto:energyfeedback@ucdavis.edu">energyfeedback@ucdavis.edu</a>.</p>
		<br />
		<button *ngIf="closable" (click)="close()" aria-label="Close" class="grey">Keep going (Guest session)</button>
	</div>
	<button [hidden]="!mod.closable" *ngIf="closable" (click)="close()" aria-label="Close" class="modal_close-btn">&times;</button>
</div>
<div *ngIf="mod" [class]="mod.overlay" (click)="close()"></div>
