.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
.modal-expired {
	width: 100%;
	padding: 1px 0px;
	background-color: #f58f00;
	text-align: center;
	color: white;
	box-shadow: 0 0 3px 1px #9D9D9D;
	font-size: 18px;
	line-height: 2.5;
}
.modal-guest {
	z-index: 1000;
	position: fixed;
	right: 0;
	left: 0;
	top: 40px;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	max-width: 400px;
	padding: 20px 16px;
	background-color: #fff;
	text-align: center;
	color: black;
	box-shadow: 0 0 3px 1px #9D9D9D;
}
.modal-reminder {
	width: 100%;
	padding: 1px 0px;
	text-align: center;
	box-shadow: 0 0 3px 1px #9D9D9D;
	background-color: #d8d8d8;
	color: #323130;
	font-size: 18px;
	line-height: 2.5;
}
.grey {
	cursor: pointer;
	font-family: ProximaNova, Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 80%;
	height: 42px;
	font-weight: bold;
	font-size: 14px;
	padding: 0;
	color: #323130;
	background-color: #d8d8d8;
	border: none;
	margin-left: 10px;
	&:hover {
		outline: 2px solid #000;
	}
}
@media (min-width: 768px) {
	.modal-guest {
		top: 70px;
	}
}
@media (max-width: 400px) {
	.modal-content {
		font-size: 12px !important;
		line-height: 3;
	}
}
.logo {
	width: 90px;
	margin: 0;
}
.modal_close-btn {
	color: black;
	float: right;
	font-size: 36px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	position: absolute;
	top: 2px;
	right: 12px;
}
@media (max-width: 400px) {
	.modal_close-btn {
		font-size: 28px;
	}
}
.modal_close-btn:hover,
.modal_close-btn:focus {
	color: #f05910;
	text-decoration: none;
	cursor: pointer;
}
.modal-header {
	padding: 2px 16px;
	background-color: #F05910;
	text-align: center;
	color: white;
}
.modal-body {
	padding: 2px 16px;
}
.modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}
